In [1]:
import pandas as pd

### FIRST ROUND CLEANING 'union_all_clients.csv'

In [7]:
df_clients = pd.read_csv("data/union_all_clients.csv")
df_clients.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12,44,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,master_pricebook_id,tax_rate_2_default,updatedby,channel,payment_due_date_days,inadequateClearance,labName,tax_rate_default,courier_profile_for_priority,last_activity_on,...,bDrSalutation,travelflo_lab_id,bManufacturerInvoicing,tooth_numbering_system,group_id,courier_profile,client_last_name,lastupdated,prospect_flag,remarks
0,1.0,1.0,5,0.0,10,0,TAPDENTALART,1.0,NaN,8/8/2014 12:39:15,...,0.0,NaN,0.0,20,0.0,4,Test Client,8/8/2014 12:39:14,NaN,NaN
1,1.0,1.0,5,0.0,10,0,TAPDENTALART,1.0,NaN,2/25/2013 12:39:42,...,0.0,NaN,0.0,20,0.0,4,Sample Lab,2/25/2013 12:39:42,NaN,NaN
2,1.0,1.0,66,0.0,60,0,TAPDENTALART,1.0,NaN,5/1/2014 11:43:18,...,1.0,NaN,NaN,20,0.0,4,Katibah,5/1/2014 11:43:17,NaN,NaN
3,1.0,1.0,66,0.0,60,0,TAPDENTALART,1.0,NaN,5/1/2014 17:58:08,...,1.0,NaN,NaN,20,0.0,4,Orsi,5/1/2014 17:58:08,NaN,NaN
4,1.0,1.0,5,0.0,60,0,TAPDENTALART,1.0,NaN,5/28/2014 11:42:56,...,0.0,NaN,0.0,20,0.0,4,Dentistry By Design,5/28/2014 11:42:56,NaN,NaN

In [8]:
df_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97282 entries, 0 to 97281
Data columns (total 72 columns):
master_pricebook_id             93112 non-null float64
tax_rate_2_default              97275 non-null float64
updatedby                       97282 non-null int64
channel                         84231 non-null float64
payment_due_date_days           97282 non-null int64
inadequateClearance             97282 non-null int64
labName                         97282 non-null object
tax_rate_default                97275 non-null float64
courier_profile_for_priority    3539 non-null float64
last_activity_on                97281 non-null object
tax_rate                        12657 non-null float64
bClientLab                      97282 non-null int64
travelflo_recipient_id          123 non-null object
ref                             0 non-null float64
internal_name                   0 non-null float64
bLabPref                        97282 non-null int64
id                              97282 non-null int64
client_preference_id            97281 non-null float64
transit_day                     97275 non-null float64
pricebook_id                    0 non-null float64
opposingTeethFutureRestore      97282 non-null int64
billing_address_id              94260 non-null float64
prospect_status                 81880 non-null float64
shipping_address_id             97282 non-null int64
bClientInvoicing                60030 non-null float64
travelflo_enable                76679 non-null float64
billing_cycle_days              73851 non-null float64
pref_ssn_id                     97282 non-null int64
address_id                      0 non-null float64
tax_county                      1237 non-null object
driver_reminder                 529 non-null object
last_activity_by                97281 non-null float64
name                            97282 non-null object
surfaceTexture                  97282 non-null int64
contact5                        0 non-null float64
contact4                        0 non-null float64
contact7                        0 non-null float64
contact6                        3196 non-null float64
contact1                        35161 non-null float64
contact3                        26 non-null float64
contact2                        100 non-null float64
travelflo_custom_rate           76668 non-null float64
bActive                         97282 non-null int64
createdOn                       97282 non-null object
long_name                       5 non-null object
Table Names                     97282 non-null object
bNeedQA                         0 non-null float64
invoice_payment_due_date        97282 non-null int64
custom_pricebook_id             97261 non-null float64
sales_flag                      12841 non-null float64
credit_limit                    47170 non-null float64
bTransportationTaxable          84222 non-null float64
courier_profile_priority        466 non-null float64
preferred_lang                  97282 non-null int64
inbound_transit_day             97282 non-null int64
tax_rate_2                      2115 non-null float64
statement_cycle_days            73061 non-null float64
transit_time_to_lab             0 non-null float64
website                         0 non-null float64
contact_person                  0 non-null float64
client_first_name               35085 non-null object
bShipBillAddr                   96805 non-null float64
bDrSalutation                   97272 non-null float64
travelflo_lab_id                12 non-null object
bManufacturerInvoicing          60030 non-null float64
tooth_numbering_system          97282 non-null int64
group_id                        97280 non-null float64
courier_profile                 97282 non-null int64
client_last_name                97273 non-null object
lastupdated                     97282 non-null object
prospect_flag                   7200 non-null float64
remarks                         0 non-null float64
dtypes: float64(43), int64(16), object(13)
memory usage: 53.4+ MB

In [9]:
# Drop 12 columns
df_clients.drop('pricebook_id', axis=1, inplace=True)
df_clients.drop('ref', axis=1, inplace=True)
df_clients.drop('address_id', axis=1, inplace=True)
df_clients.drop('contact_person', axis=1, inplace=True)
df_clients.drop('remarks', axis=1, inplace=True)
df_clients.drop('internal_name', axis=1, inplace=True)
df_clients.drop('website', axis=1, inplace=True)
df_clients.drop('bNeedQA', axis=1, inplace=True)
df_clients.drop('contact4', axis=1, inplace=True)
df_clients.drop('contact5', axis=1, inplace=True)
df_clients.drop('contact7', axis=1, inplace=True)
df_clients.drop('transit_time_to_lab', axis=1, inplace=True)

In [10]:
# Save to csv
df_clients.to_csv('data/clients_clean1.csv')

### FIRST ROUND CLEANING 'union_all_pricebooks.csv'

In [ ]:
df_pricebooks = pd.read_csv("data/union_all_pricebooks.csv")
df_pricebooks.head()

In [ ]:
df_pricebooks.info()

# Keep only rows where bActive == 1
df_pricebooks_rows = df_pricebooks[df_pricebooks.bActive == 1] # only 1 row gets dropped

In [ ]:
# Drop 11 columns
df_pricebooks.drop('client_group_id', axis=1, inplace=True)
df_pricebooks.drop('vendor_id', axis=1, inplace=True)
df_pricebooks.drop('eff_datefrom', axis=1, inplace=True)
df_pricebooks.drop('eff_dateto', axis=1, inplace=True)
df_pricebooks.drop('charge', axis=1, inplace=True)
df_pricebooks.drop('bActive', axis=1, inplace=True)
df_pricebooks.drop('discount_remarks', axis=1, inplace=True)
df_pricebooks.drop('surcharge_remarks', axis=1, inplace=True)
df_pricebooks.drop('transportation_fee_remarks', axis=1, inplace=True)
df_pricebooks.drop('case_discount_remarks', axis=1, inplace=True)
df_pricebooks.drop('case_discount_amount_remarks', axis=1, inplace=True)

In [ ]:
# Save to csv
df_pricebooks.to_csv('data/pricebooks_clean1.csv')

### FIRST ROUND CLEANING 'union_all_pricebook_items.csv'

In [ ]:
df_pricebook_items = pd.read_csv("data/union_all_pricebook_items.csv")
df_pricebook_items.head()

In [ ]:
df_pricebook_items.info()

In [ ]:
# Number of NaN values
df_pricebook_items.isnull().sum()

In [ ]:
# Drop 6 columns
df_pricebook_items.drop('service_type_id', axis=1, inplace=True)
df_pricebook_items.drop('tooth_num', axis=1, inplace=True)
df_pricebook_items.drop('eff_datefrom', axis=1, inplace=True)
df_pricebook_items.drop('eff_dateto', axis=1, inplace=True)
df_pricebook_items.drop('other', axis=1, inplace=True)
df_pricebook_items.drop('spec_remarks', axis=1, inplace=True)

In [ ]:
# Save to csv
df_pricebook_items.to_csv('data/pricebook_items_clean1.csv')

### FIRST ROUND CLEANING 'union_all_addresses.csv'

In [ ]:
df_addresses = pd.read_csv("data/union_all_addresses.csv")
df_addresses.head()

In [ ]:
df_addresses.info()

In [ ]:
# Drop 5 columns
df_addresses.drop('addr4', axis=1, inplace=True)
df_addresses.drop('mobile', axis=1, inplace=True)
df_addresses.drop('tel_alt', axis=1, inplace=True)
df_addresses.drop('fax', axis=1, inplace=True)
df_addresses.drop('website', axis=1, inplace=True)

In [ ]:
# Save to csv
df_addresses.to_csv('data/addresses_clean1.csv')

### FIRST ROUND CLEANING 'union_all_attachment.csv'

In [ ]:
df_attachment = pd.read_csv("data/union_all_attachment.csv")
df_attachment.head()

In [ ]:
df_attachment.info()

In [ ]:
# Number of NaN values
df_attachment.isnull().sum()

In [ ]:
# Drop 6 columns
df_attachment.drop('comment', axis=1, inplace=True)
df_attachment.drop('bIsRX', axis=1, inplace=True)
df_attachment.drop('barcode', axis=1, inplace=True)
df_attachment.drop('ref', axis=1, inplace=True)
df_attachment.drop('purgedOn', axis=1, inplace=True)
df_attachment.drop('bPurged', axis=1, inplace=True)

In [ ]:
# Save to csv
df_attachment.to_csv('data/attachment_clean1.csv')

### FIRST ROUND CLEANING 'union_all_product_additional.csv'

In [ ]:
df_product_additional = pd.read_csv("data/union_all_product_additional.csv")
df_product_additional.head()

In [ ]:
df_product_additional.info()

In [ ]:
# Drop 3 columns
df_product_additional.drop('remarks', axis=1, inplace=True)
df_product_additional.drop('manufacture_profile_id', axis=1, inplace=True)
df_product_additional.drop('xero_account_code', axis=1, inplace=True)

In [ ]:
# Save to csv
df_product_additional.to_csv('data/product_additional_clean1.csv')

### FIRST ROUND CLEANING 'union_all_product_type_others.csv'

In [ ]:
df_product_type_others = pd.read_csv("data/union_all_product_type_others.csv")
df_product_type_others.head()

In [ ]:
df_product_type_others.info()

In [ ]:
# Drop 3 columns
df_product_type_others.drop('type_id', axis=1, inplace=True)
df_product_type_others.drop('remarks', axis=1, inplace=True)
df_product_type_others.drop('xero_account_code', axis=1, inplace=True)

In [ ]:
# Save to csv
df_product_type_others.to_csv('data/product_type_others_clean1.csv')

### FIRST ROUND CLEANING 'union_all_product_types.csv'

In [ ]:
df_product_types = pd.read_csv("data/union_all_product_types.csv")
df_product_types.head()

In [ ]:
df_product_types.info()

In [ ]:
# Drop 2 columns
df_product_types.drop('remarks', axis=1, inplace=True)
df_product_types.drop('customization_list', axis=1, inplace=True)

In [ ]:
# Save to csv
df_product_types.to_csv('data/product_types_clean1.csv')

### FIRST ROUND CLEANING 'union_all_products.csv'

In [ ]:
df_products = pd.read_csv("data/union_all_products.csv")
df_products.head()

In [ ]:
df_products.info()

In [ ]:
# Drop 4 columns
df_products.drop('remarks', axis=1, inplace=True)
df_products.drop('product_code', axis=1, inplace=True)
df_products.drop('manufacture_profile_id', axis=1, inplace=True)
df_products.drop('xero_account_code', axis=1, inplace=True)

In [ ]:
# Save to csv
df_products.to_csv('data/products_clean1.csv')

### FIRST ROUND CLEANING 'union_all_tooth_type.csv'

In [ ]:
df_tooth_type = pd.read_csv("data/union_all_tooth_type.csv")
df_tooth_type.head()

In [ ]:
df_tooth_type.info()

In [ ]:
# Save to csv
df_tooth_type.to_csv('data/tooth_type_clean1.csv')

### FIRST ROUND CLEANING 'union_all_users.csv'

In [ ]:
df_users = pd.read_csv("data/union_all_users.csv")
df_users.head()

In [ ]:
df_users.info()

In [ ]:
# Drop 16 columns
df_users.drop('username', axis=1, inplace=True)
df_users.drop('password', axis=1, inplace=True)
df_users.drop('email', axis=1, inplace=True)
df_users.drop('login_url', axis=1, inplace=True)
df_users.drop('user_pref_id', axis=1, inplace=True)
df_users.drop('address_id', axis=1, inplace=True)
df_users.drop('pref_homepage', axis=1, inplace=True)
df_users.drop('clinic_id', axis=1, inplace=True)
df_users.drop('provider_id', axis=1, inplace=True)
df_users.drop('password_reminder', axis=1, inplace=True)
df_users.drop('doctor_lab_blacklist', axis=1, inplace=True)
df_users.drop('legacy_ref', axis=1, inplace=True)
df_users.drop('telephone', axis=1, inplace=True)
df_users.drop('cellphone', axis=1, inplace=True)
df_users.drop('time_zone_id', axis=1, inplace=True)
df_users.drop('staffId', axis=1, inplace=True)

In [ ]:
# Save to csv
df_users.to_csv('data/users_clean1.csv')

### FIRST ROUND CLEANING 'union_all_billings.csv'

In [43]:
df_billings = pd.read_csv("data/union_all_billings.csv")
df_billings.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,25,26,29,31,32,38,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,ref,ref_id,ref_type,curr,amount,discount,surcharge,payment_curr,payment,...,bGroup,case_discount,case_discount_amount,remarks9,remarks10,calculation,tax_rate_2,first_case_id,bEnableItemBasedAdj,labName
0,7,0017000004,10,10,NaN,515.0,0.0,0.0,NaN,515.0,...,NaN,0.0,0.0,NaN,NaN,40.0,0.0,5.0,1.0,3DDENTALLABORATORIES
1,8,0017000029,8,10,NaN,69.0,0.0,0.0,NaN,69.0,...,NaN,0.0,0.0,NaN,NaN,40.0,0.0,30.0,1.0,3DDENTALLABORATORIES
2,9,0017000030,5,10,NaN,69.0,0.0,0.0,NaN,69.0,...,NaN,0.0,0.0,NaN,NaN,40.0,0.0,31.0,1.0,3DDENTALLABORATORIES
3,10,0017000008,4,10,NaN,147.0,0.0,0.0,NaN,147.0,...,NaN,0.0,0.0,NaN,NaN,40.0,0.0,9.0,1.0,3DDENTALLABORATORIES
4,11,0017000027,5,10,NaN,49.0,0.0,0.0,NaN,49.0,...,NaN,0.0,0.0,NaN,NaN,40.0,0.0,28.0,1.0,3DDENTALLABORATORIES

In [ ]:
df_billings.info()

In [44]:
# Number of NaN values
df_billings.isnull().sum()

id                                       0
ref                                   6901
ref_id                                   0
ref_type                                 0
curr                               5593756
amount                                   5
discount                            139893
surcharge                           140195
payment_curr                       5593756
payment                                  5
exrate                             5593756
dueOn                                 6946
settledOn                           464548
status                                   5
remarks                            4558393
createdOn                                0
lastupdated                              0
updatedby                                0
transportation_fee                  123947
tax_rate                            135229
createdByOfficeId                       55
adjustment                              13
misc_paid_amount                   5593751
billing_item_paid_amount            863795
late_fee                           5593756
sentOn                             5414887
partialPaidOn                      5588439
statement_id                        209537
statementAttachedOn                 211420
remarks2                           5592988
ref_billing_id                     5593747
adjustedOn                         5593738
adjustConfirmedOn                  5593738
credit_debit_adjustment            5593756
credit_debit_adjustment_remarks    5593756
lastExportedOn                     5593756
bHide                              5590351
custom_billing_type                5507738
remarks3                           5545606
memo                               5588919
bInitBalance                       5586856
remarks4                           5593754
remarks5                           5593754
remarks6                           5593756
remarks7                           5593756
remarks8                           5593756
bGroup                             5556726
case_discount                      1866497
case_discount_amount               1866490
remarks9                           5593756
remarks10                          5593756
calculation                            329
tax_rate_2                          168084
first_case_id                         8529
bEnableItemBasedAdj                 684010
labName                                  0
dtype: int64

In [ ]:
# Drop 19 columns
df_billings.drop('curr', axis=1, inplace=True)
df_billings.drop('payment_curr', axis=1, inplace=True)
df_billings.drop('exrate', axis=1, inplace=True)
df_billings.drop('misc_paid_amount', axis=1, inplace=True)
df_billings.drop('late_fee', axis=1, inplace=True)
df_billings.drop('ref_billing_id', axis=1, inplace=True)
df_billings.drop('adjustedOn', axis=1, inplace=True)
df_billings.drop('adjustConfirmedOn', axis=1, inplace=True)
df_billings.drop('credit_debit_adjustment', axis=1, inplace=True)
df_billings.drop('credit_debit_adjustment_remarks', axis=1, inplace=True)
df_billings.drop('lastExportedOn', axis=1, inplace=True)
df_billings.drop('bHide', axis=1, inplace=True)
df_billings.drop('remarks4', axis=1, inplace=True)
df_billings.drop('remarks5', axis=1, inplace=True)
df_billings.drop('remarks6', axis=1, inplace=True)
df_billings.drop('remarks7', axis=1, inplace=True)
df_billings.drop('remarks8', axis=1, inplace=True)
df_billings.drop('remarks9', axis=1, inplace=True)
df_billings.drop('remarks10', axis=1, inplace=True)

In [ ]:
# Save to csv
df_billings.to_csv('data/billings_clean1.csv')

### FIRST ROUND CLEANING 'union_all_cases.csv'

In [ ]:
df_cases = pd.DataFrame()

In [ ]:
df_cases_labstar3A = pd.read_csv("data/union_cases_labstar3A.csv")
df_cases_labstar3A.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstar3A, ignore_index=True)

In [ ]:
df_cases_labstarBB = pd.read_csv("data/union_cases_labstarBB.csv")
df_cases_labstarBB.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarBB, ignore_index=True)

In [ ]:
df_cases_labstarCC = pd.read_csv("data/union_cases_labstarCC.csv")
df_cases_labstarCC.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarCC, ignore_index=True)

In [ ]:
df_cases_labstarDD = pd.read_csv("data/union_cases_labstarDD.csv")
df_cases_labstarDD.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarDD, ignore_index=True)

In [ ]:
df_cases_labstarEE = pd.read_csv("data/union_cases_labstarEE.csv")
df_cases_labstarEE.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarEE, ignore_index=True)

In [ ]:
df_cases_labstarFG = pd.read_csv("data/union_cases_labstarFG.csv")
df_cases_labstarFG.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarFG, ignore_index=True)

In [ ]:
df_cases_labstarHH = pd.read_csv("data/union_cases_labstarHH.csv")
df_cases_labstarHH.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarHH, ignore_index=True)

In [ ]:
df_cases_labstarII = pd.read_csv("data/union_cases_labstarII.csv")
df_cases_labstarII.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarII, ignore_index=True)

In [ ]:
df_cases_labstarJK = pd.read_csv("data/union_cases_labstarJK.csv")
df_cases_labstarJK.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarJK, ignore_index=True)

In [ ]:
df_cases_labstarLL = pd.read_csv("data/union_cases_labstarLL.csv")
df_cases_labstarLL.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarLL, ignore_index=True)

In [ ]:
df_cases_labstarMM = pd.read_csv("data/union_cases_labstarMM.csv")
df_cases_labstarMM.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarMM, ignore_index=True)

In [ ]:
df_cases_labstarNO = pd.read_csv("data/union_cases_labstarNO.csv")
df_cases_labstarNO.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarNO, ignore_index=True)

In [ ]:
df_cases_labstarPQ = pd.read_csv("data/union_cases_labstarPQ.csv")
df_cases_labstarPQ.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarPQ, ignore_index=True)

In [ ]:
df_cases_labstarRR = pd.read_csv("data/union_cases_labstarRR.csv")
df_cases_labstarRR.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarRR, ignore_index=True)

In [ ]:
df_cases_labstarSS = pd.read_csv("data/union_cases_labstarSS.csv")
df_cases_labstarSS.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarSS, ignore_index=True)

In [ ]:
df_cases_labstarTU = pd.read_csv("data/union_cases_labstarTU.csv")
df_cases_labstarTU.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarTU, ignore_index=True)

In [ ]:
df_cases_labstarV2Z = pd.read_csv("data/union_cases_labstarV2Z.csv")
df_cases_labstarV2Z.info()

In [ ]:
df_cases = df_cases.append(df_cases_labstarV2Z, ignore_index=True)

In [ ]:
df_cases.info()

In [ ]:
# Save to csv
df_cases.to_csv('data/union_cases_labstar.csv')

In [ ]:
df_cases_soundtrack_32L = pd.read_csv("data/union_cases_soundtrack32L.csv")
df_cases_soundtrack_32L.info()

In [ ]:
df_cases = df_cases.append(df_cases_soundtrack_32L, ignore_index=True)

In [ ]:
df_cases_soundtrack_M2Z = pd.read_csv("data/union_cases_soundtrackM2Z.csv")
df_cases_soundtrack_M2Z.info()

In [ ]:
df_cases = df_cases.append(df_cases_soundtrack_M2Z, ignore_index=True)

In [ ]:
df_cases.info()

In [ ]:
# Save to csv
df_cases.to_csv('data/union_all_cases.csv')

In [ ]:
df_cases.isnull().sum()

In [ ]:
# Drop 62 columns
df_cases.drop('patient_remarks', axis=1, inplace=True)
df_cases.drop('appointment_dt', axis=1, inplace=True)
df_cases.drop('crown_tooth_number', axis=1, inplace=True)
df_cases.drop('pontic_tooth_number', axis=1, inplace=True)
df_cases.drop('inlay_tooth_number', axis=1, inplace=True)
df_cases.drop('datewant', axis=1, inplace=True)
df_cases.drop('age', axis=1, inplace=True)
df_cases.drop('shade', axis=1, inplace=True)
df_cases.drop('total_unit', axis=1, inplace=True)
df_cases.drop('lab_processing_day', axis=1, inplace=True)
df_cases.drop('service_ty', axis=1, inplace=True)
df_cases.drop('pontic_design_ovate', axis=1, inplace=True)
df_cases.drop('lavaProcessCompleteOn', axis=1, inplace=True)
df_cases.drop('remarks_admin', axis=1, inplace=True)
df_cases.drop('remarks_client', axis=1, inplace=True)
df_cases.drop('remarks_vendor', axis=1, inplace=True)
df_cases.drop('remarks_admin_log', axis=1, inplace=True)
df_cases.drop('flag_admin_txt', axis=1, inplace=True)
df_cases.drop('flag_client_txt', axis=1, inplace=True)
df_cases.drop('flag_manufacturer_txt', axis=1, inplace=True)
df_cases.drop('preference_0', axis=1, inplace=True)
df_cases.drop('preference_1', axis=1, inplace=True)
df_cases.drop('preference_2', axis=1, inplace=True)
df_cases.drop('preference_3', axis=1, inplace=True)
df_cases.drop('preference_4', axis=1, inplace=True)
df_cases.drop('preference_5', axis=1, inplace=True)
df_cases.drop('preference_6', axis=1, inplace=True)
df_cases.drop('preference_7', axis=1, inplace=True)
df_cases.drop('preference_8', axis=1, inplace=True)
df_cases.drop('bEnclosedArticulator', axis=1, inplace=True)
df_cases.drop('bEnclosedReturnArticulator', axis=1, inplace=True)
df_cases.drop('bPartialImpression', axis=1, inplace=True)
df_cases.drop('ssnHubLocation', axis=1, inplace=True)
df_cases.drop('product_id', axis=1, inplace=True)
df_cases.drop('rx_id', axis=1, inplace=True)
df_cases.drop('title', axis=1, inplace=True)
df_cases.drop('partial_state', axis=1, inplace=True)
df_cases.drop('lab_work_estimate', axis=1, inplace=True)
df_cases.drop('delivery_commit', axis=1, inplace=True)
df_cases.drop('bBilled', axis=1, inplace=True)
df_cases.drop('ownBy', axis=1, inplace=True)
df_cases.drop('production_line_deadline', axis=1, inplace=True)
df_cases.drop('appointment_duration', axis=1, inplace=True)
df_cases.drop('flag_admin_state', axis=1, inplace=True)
df_cases.drop('flag_client_state', axis=1, inplace=True)
df_cases.drop('flag_manufacturer_state', axis=1, inplace=True)
df_cases.drop('bDeepHold', axis=1, inplace=True)
df_cases.drop('caseChangeOn', axis=1, inplace=True)
df_cases.drop('lead1', axis=1, inplace=True)
df_cases.drop('lead2', axis=1, inplace=True)
df_cases.drop('lava_vendor_pricebook_id', axis=1, inplace=True)
df_cases.drop('lead1_remarks', axis=1, inplace=True)
df_cases.drop('lead2_remarks', axis=1, inplace=True)
df_cases.drop('pan_num', axis=1, inplace=True)
df_cases.drop('lava_pan_num', axis=1, inplace=True)
df_cases.drop('vendor_barcode', axis=1, inplace=True)
df_cases.drop('lava_vendor_barcode', axis=1, inplace=True)
df_cases.drop('caseChangeApprovedOn', axis=1, inplace=True)
df_cases.drop('patient_name_anonymized', axis=1, inplace=True)
df_cases.drop('bEnclosedBiteRim', axis=1, inplace=True)
df_cases.drop('removable_untils', axis=1, inplace=True)
df_cases.drop('doctor_office', axis=1, inplace=True)

In [ ]:
# Save to csv
df_cases.to_csv('data/cases_clean1.csv')

### FIRST ROUND CLEANING 'union_all_case_items.csv'

In [ ]:
df_case_items = pd.DataFrame()

In [ ]:
df_case_items_labstar3A = pd.read_csv("data/union_case_items_labstar3A.csv")
df_case_items_labstar3A.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstar3A, ignore_index=True)

In [ ]:
df_case_items_labstarBB = pd.read_csv("data/union_case_items_labstarBB.csv")
df_case_items_labstarBB.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarBB, ignore_index=True)

In [ ]:
df_case_items_labstarCC = pd.read_csv("data/union_case_items_labstarCC.csv")
df_case_items_labstarCC.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarCC, ignore_index=True)

In [ ]:
df_case_items_labstarDD = pd.read_csv("data/union_case_items_labstarDD.csv")
df_case_items_labstarDD.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarDD, ignore_index=True)

In [ ]:
df_case_items_labstarEE = pd.read_csv("data/union_case_items_labstarEE.csv")
df_case_items_labstarEE.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarEE, ignore_index=True)

In [ ]:
df_case_items_labstarFG = pd.read_csv("data/union_case_items_labstarFG.csv")
df_case_items_labstarFG.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarFG, ignore_index=True)

In [ ]:
df_case_items_labstarHH = pd.read_csv("data/union_case_items_labstarHH.csv")
df_case_items_labstarHH.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarHH, ignore_index=True)

In [ ]:
df_case_items_labstarII = pd.read_csv("data/union_case_items_labstarII.csv")
df_case_items_labstarII.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarII, ignore_index=True)

In [ ]:
df_case_items_labstarJK = pd.read_csv("data/union_case_items_labstarJK.csv")
df_case_items_labstarJK.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarJK, ignore_index=True)

In [ ]:
df_case_items_labstarLL = pd.read_csv("data/union_case_items_labstarLL.csv")
df_case_items_labstarLL.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarLL, ignore_index=True)

In [ ]:
df_case_items_labstarMM = pd.read_csv("data/union_case_items_labstarMM.csv")
df_case_items_labstarMM.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarMM, ignore_index=True)

In [ ]:
df_case_items_labstarNO = pd.read_csv("data/union_case_items_labstarNO.csv")
df_case_items_labstarNO.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarNO, ignore_index=True)

In [ ]:
df_case_items_labstarPQ = pd.read_csv("data/union_case_items_labstarPQ.csv")
df_case_items_labstarPQ.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarPQ, ignore_index=True)

In [ ]:
df_case_items_labstarRR = pd.read_csv("data/union_case_items_labstarRR.csv")
df_case_items_labstarRR.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarRR, ignore_index=True)

In [ ]:
df_case_items_labstarSS = pd.read_csv("data/union_case_items_labstarSS.csv")
df_case_items_labstarSS.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarSS, ignore_index=True)

In [ ]:
df_case_items_labstarTU = pd.read_csv("data/union_case_items_labstarTU.csv")
df_case_items_labstarTU.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarTU, ignore_index=True)

In [ ]:
df_case_items_labstarV2Z = pd.read_csv("data/union_case_items_labstarV2Z.csv")
df_case_items_labstarV2Z.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_labstarV2Z, ignore_index=True)

In [ ]:
df_case_items_soundtrack32L = pd.read_csv("data/union_case_items_soundtrack32L.csv")
df_case_items_soundtrack32L.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_soundtrack32L, ignore_index=True)

In [ ]:
df_case_items_soundtrackM2Z = pd.read_csv("data/union_case_items_soundtrackM2Z.csv")
df_case_items_soundtrackM2Z.info()

In [ ]:
df_case_items = df_case_items.append(df_case_items_soundtrackM2Z, ignore_index=True)

In [ ]:
df_case_items.info()

In [ ]:
# Number of NaN values
df_case_items.isnull().sum()

In [ ]:
# Drop columns
df_case_items.drop('metal_design_collar', axis=1, inplace=True)
df_case_items.drop('shade', axis=1, inplace=True)
df_case_items.drop('stump_shade', axis=1, inplace=True)
df_case_items.drop('tooth_shade_guide_hue', axis=1, inplace=True)
df_case_items.drop('stump_shade_guide_hue', axis=1, inplace=True)
df_case_items.drop('implant_platform_type', axis=1, inplace=True)
df_case_items.drop('implant_platform_type_txt', axis=1, inplace=True)
df_case_items.drop('implant_abutment_type', axis=1, inplace=True)
df_case_items.drop('implant_abutment_type_txt', axis=1, inplace=True)
df_case_items.drop('implant_site_instruction', axis=1, inplace=True)
df_case_items.drop('implant_site_instruction_other', axis=1, inplace=True)
df_case_items.drop('case_item_group_id', axis=1, inplace=True)
df_case_items.drop('multiple_shade_guide_toi_hue', axis=1, inplace=True)
df_case_items.drop('multiple_shade_guide_middle_hue', axis=1, inplace=True)
df_case_items.drop('multiple_shade_guide_bgc_hue', axis=1, inplace=True)

In [ ]:
df_case_items.drop('multiple_shade_guide_toi_hue', axis=1, inplace=True)
df_case_items.drop('multiple_shade_guide_middle_hue', axis=1, inplace=True)
df_case_items.drop('multiple_shade_guide_bgc_hue', axis=1, inplace=True)

In [ ]:
# Save to csv
df_case_items.to_csv('data/case_items_clean1.csv')

### FIRST ROUND CLEANING 'union_all_charging_items.csv'

In [2]:
df_charging_items = pd.DataFrame()

In [3]:
df_charging_items_labstar3A = pd.read_csv("data/union_charging_items_labstar3A.csv")
df_charging_items_labstar3A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503135 entries, 0 to 503134
Data columns (total 35 columns):
id                 503135 non-null int64
ref_type           503135 non-null int64
charge_ty          503135 non-null int64
billing_item_id    503135 non-null int64
case_id            503135 non-null int64
case_item_id       503135 non-null int64
ref_id             503135 non-null int64
product_id         503135 non-null int64
tooth_num          503135 non-null int64
pricebook_id       503135 non-null int64
material_id        503135 non-null int64
unit_price         503135 non-null float64
quantity           503135 non-null float64
currency           0 non-null float64
discount           503135 non-null float64
surcharge          0 non-null float64
adjustment         503135 non-null int64
payment            503135 non-null float64
status             503135 non-null int64
createdOn          503135 non-null object
remarks            10178 non-null object
lastupdated        503135 non-null object
updatedby          503135 non-null int64
bLava              503135 non-null int64
additional_type    503135 non-null int64
remake_id          503135 non-null int64
additional_id      503135 non-null int64
discount_amt       503135 non-null float64
priority           503135 non-null int64
tax_1              503135 non-null float64
tax_2              503135 non-null int64
enable_tax_1       503135 non-null int64
enable_tax_2       503135 non-null int64
enable_discount    503135 non-null int64
labName            503135 non-null object
dtypes: float64(8), int64(23), object(4)
memory usage: 134.4+ MB

In [4]:
df_charging_items = df_charging_items.append(df_charging_items_labstar3A, ignore_index=True)

In [5]:
df_charging_items_labstarBB = pd.read_csv("data/union_charging_items_labstarBB.csv")
df_charging_items_labstarBB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403868 entries, 0 to 403867
Data columns (total 35 columns):
id                 403868 non-null int64
ref_type           403868 non-null int64
charge_ty          403868 non-null int64
billing_item_id    403868 non-null int64
case_id            403868 non-null int64
case_item_id       403868 non-null int64
ref_id             403868 non-null int64
product_id         403868 non-null int64
tooth_num          403868 non-null int64
pricebook_id       403868 non-null int64
material_id        403868 non-null int64
unit_price         403868 non-null float64
quantity           403868 non-null float64
currency           0 non-null float64
discount           403868 non-null float64
surcharge          0 non-null float64
adjustment         403868 non-null int64
payment            403868 non-null float64
status             403868 non-null int64
createdOn          403868 non-null object
remarks            6547 non-null object
lastupdated        403868 non-null object
updatedby          403868 non-null int64
bLava              403868 non-null int64
additional_type    403868 non-null int64
remake_id          403868 non-null int64
additional_id      403868 non-null int64
discount_amt       402259 non-null float64
priority           403868 non-null int64
tax_1              402259 non-null float64
tax_2              402259 non-null float64
enable_tax_1       402259 non-null float64
enable_tax_2       402259 non-null float64
enable_discount    402259 non-null float64
labName            403868 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 107.8+ MB

In [6]:
df_charging_items = df_charging_items.append(df_charging_items_labstarBB, ignore_index=True)

In [7]:
df_charging_items_labstarCC = pd.read_csv("data/union_charging_items_labstarCC.csv")
df_charging_items_labstarCC.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381982 entries, 0 to 381981
Data columns (total 35 columns):
id                 381982 non-null int64
ref_type           381982 non-null int64
charge_ty          381982 non-null int64
billing_item_id    381982 non-null int64
case_id            381982 non-null int64
case_item_id       381982 non-null int64
ref_id             381982 non-null int64
product_id         381982 non-null int64
tooth_num          381982 non-null int64
pricebook_id       381982 non-null int64
material_id        381982 non-null int64
unit_price         381982 non-null float64
quantity           381982 non-null float64
currency           0 non-null float64
discount           381982 non-null float64
surcharge          0 non-null float64
adjustment         381982 non-null int64
payment            381982 non-null float64
status             381982 non-null int64
createdOn          381982 non-null object
remarks            4318 non-null object
lastupdated        381982 non-null object
updatedby          381982 non-null int64
bLava              381982 non-null int64
additional_type    381982 non-null int64
remake_id          381982 non-null int64
additional_id      381982 non-null int64
discount_amt       381982 non-null float64
priority           381982 non-null int64
tax_1              381982 non-null float64
tax_2              381982 non-null int64
enable_tax_1       381982 non-null int64
enable_tax_2       381982 non-null int64
enable_discount    381982 non-null int64
labName            381982 non-null object
dtypes: float64(8), int64(23), object(4)
memory usage: 102.0+ MB

In [8]:
df_charging_items = df_charging_items.append(df_charging_items_labstarCC, ignore_index=True)

In [9]:
df_charging_items_labstarDD = pd.read_csv("data/union_charging_items_labstarDD.csv")
df_charging_items_labstarDD.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649231 entries, 0 to 649230
Data columns (total 35 columns):
id                 649231 non-null int64
ref_type           649231 non-null int64
charge_ty          649231 non-null int64
billing_item_id    649231 non-null int64
case_id            649231 non-null int64
case_item_id       649231 non-null int64
ref_id             649231 non-null int64
product_id         649231 non-null int64
tooth_num          649231 non-null int64
pricebook_id       649231 non-null int64
material_id        649215 non-null float64
unit_price         649231 non-null float64
quantity           649231 non-null float64
currency           0 non-null float64
discount           649231 non-null float64
surcharge          0 non-null float64
adjustment         649231 non-null float64
payment            649231 non-null float64
status             649231 non-null int64
createdOn          649231 non-null object
remarks            7600 non-null object
lastupdated        649231 non-null object
updatedby          649231 non-null int64
bLava              649231 non-null int64
additional_type    649215 non-null float64
remake_id          649231 non-null int64
additional_id      648601 non-null float64
discount_amt       619629 non-null float64
priority           649231 non-null int64
tax_1              619629 non-null float64
tax_2              619629 non-null float64
enable_tax_1       619629 non-null float64
enable_tax_2       619629 non-null float64
enable_discount    619629 non-null float64
labName            649231 non-null object
dtypes: float64(16), int64(15), object(4)
memory usage: 173.4+ MB

In [10]:
df_charging_items = df_charging_items.append(df_charging_items_labstarDD, ignore_index=True)

In [11]:
df_charging_items_labstarEE = pd.read_csv("data/union_charging_items_labstarEE.csv")
df_charging_items_labstarEE.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520200 entries, 0 to 520199
Data columns (total 35 columns):
id                 520200 non-null int64
ref_type           520200 non-null int64
charge_ty          520200 non-null int64
billing_item_id    520200 non-null int64
case_id            520200 non-null int64
case_item_id       520200 non-null int64
ref_id             520200 non-null int64
product_id         520200 non-null int64
tooth_num          520200 non-null int64
pricebook_id       520200 non-null int64
material_id        520200 non-null int64
unit_price         520200 non-null float64
quantity           520200 non-null float64
currency           0 non-null float64
discount           520200 non-null float64
surcharge          0 non-null float64
adjustment         520200 non-null int64
payment            520200 non-null float64
status             520200 non-null int64
createdOn          520200 non-null object
remarks            9572 non-null object
lastupdated        520200 non-null object
updatedby          520200 non-null int64
bLava              520200 non-null int64
additional_type    520200 non-null int64
remake_id          520200 non-null int64
additional_id      520200 non-null int64
discount_amt       513285 non-null float64
priority           520200 non-null int64
tax_1              513285 non-null float64
tax_2              513285 non-null float64
enable_tax_1       513285 non-null float64
enable_tax_2       513285 non-null float64
enable_discount    513285 non-null float64
labName            520200 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 138.9+ MB

In [12]:
df_charging_items = df_charging_items.append(df_charging_items_labstarEE, ignore_index=True)

In [13]:
df_charging_items_labstarFG = pd.read_csv("data/union_charging_items_labstarFG.csv")
df_charging_items_labstarFG.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665907 entries, 0 to 665906
Data columns (total 35 columns):
id                 665907 non-null int64
ref_type           665907 non-null int64
charge_ty          665907 non-null int64
billing_item_id    665907 non-null int64
case_id            665907 non-null int64
case_item_id       665907 non-null int64
ref_id             665907 non-null int64
product_id         665907 non-null int64
tooth_num          665907 non-null int64
pricebook_id       665907 non-null int64
material_id        665907 non-null int64
unit_price         665907 non-null float64
quantity           665907 non-null float64
currency           0 non-null float64
discount           665907 non-null float64
surcharge          0 non-null float64
adjustment         665907 non-null int64
payment            665907 non-null float64
status             665907 non-null int64
createdOn          665907 non-null object
remarks            3555 non-null object
lastupdated        665907 non-null object
updatedby          665907 non-null int64
bLava              665907 non-null int64
additional_type    665907 non-null int64
remake_id          665907 non-null int64
additional_id      665907 non-null int64
discount_amt       659641 non-null float64
priority           665907 non-null int64
tax_1              659641 non-null float64
tax_2              659641 non-null float64
enable_tax_1       659641 non-null float64
enable_tax_2       659641 non-null float64
enable_discount    659641 non-null float64
labName            665907 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 177.8+ MB

In [14]:
df_charging_items = df_charging_items.append(df_charging_items_labstarFG, ignore_index=True)

In [15]:
df_charging_items_labstarHH = pd.read_csv("data/union_charging_items_labstarHH.csv")
df_charging_items_labstarHH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181059 entries, 0 to 181058
Data columns (total 35 columns):
id                 181059 non-null int64
ref_type           181059 non-null int64
charge_ty          181059 non-null int64
billing_item_id    181059 non-null int64
case_id            181059 non-null int64
case_item_id       181059 non-null int64
ref_id             181059 non-null int64
product_id         181059 non-null int64
tooth_num          181059 non-null int64
pricebook_id       181059 non-null int64
material_id        181059 non-null int64
unit_price         181059 non-null float64
quantity           181059 non-null float64
currency           0 non-null float64
discount           181059 non-null float64
surcharge          0 non-null float64
adjustment         181059 non-null int64
payment            181059 non-null float64
status             181059 non-null int64
createdOn          181059 non-null object
remarks            4178 non-null object
lastupdated        181059 non-null object
updatedby          181059 non-null int64
bLava              181059 non-null int64
additional_type    181059 non-null int64
remake_id          181059 non-null int64
additional_id      181059 non-null int64
discount_amt       180764 non-null float64
priority           181059 non-null int64
tax_1              180764 non-null float64
tax_2              180764 non-null float64
enable_tax_1       180764 non-null float64
enable_tax_2       180764 non-null float64
enable_discount    180764 non-null float64
labName            181059 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 48.3+ MB

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_charging_items = df_charging_items.append(df_charging_items_labstarHH, ignore_index=True)

In [17]:
df_charging_items_labstarII = pd.read_csv("data/union_charging_items_labstarII.csv")
df_charging_items_labstarII.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361624 entries, 0 to 361623
Data columns (total 35 columns):
id                 361624 non-null int64
ref_type           361624 non-null int64
charge_ty          361624 non-null int64
billing_item_id    361624 non-null int64
case_id            361624 non-null int64
case_item_id       361624 non-null int64
ref_id             361624 non-null int64
product_id         361624 non-null int64
tooth_num          361624 non-null int64
pricebook_id       361624 non-null int64
material_id        361624 non-null int64
unit_price         361624 non-null float64
quantity           361624 non-null float64
currency           0 non-null float64
discount           361624 non-null float64
surcharge          0 non-null float64
adjustment         361624 non-null int64
payment            361624 non-null float64
status             361624 non-null int64
createdOn          361624 non-null object
remarks            5768 non-null object
lastupdated        361624 non-null object
updatedby          361624 non-null int64
bLava              361624 non-null int64
additional_type    361624 non-null int64
remake_id          361624 non-null int64
additional_id      361624 non-null int64
discount_amt       358587 non-null float64
priority           361624 non-null int64
tax_1              358587 non-null float64
tax_2              358587 non-null float64
enable_tax_1       358587 non-null float64
enable_tax_2       358587 non-null float64
enable_discount    358587 non-null float64
labName            361624 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 96.6+ MB

In [18]:
df_charging_items = df_charging_items.append(df_charging_items_labstarII, ignore_index=True)

In [19]:
df_charging_items_labstarJK = pd.read_csv("data/union_charging_items_labstarJK.csv")
df_charging_items_labstarJK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446896 entries, 0 to 446895
Data columns (total 35 columns):
id                 446896 non-null int64
ref_type           446896 non-null int64
charge_ty          446896 non-null int64
billing_item_id    446896 non-null int64
case_id            446896 non-null int64
case_item_id       446896 non-null int64
ref_id             446896 non-null int64
product_id         446896 non-null int64
tooth_num          446896 non-null int64
pricebook_id       446896 non-null int64
material_id        446896 non-null int64
unit_price         446896 non-null float64
quantity           446896 non-null float64
currency           0 non-null float64
discount           446896 non-null float64
surcharge          0 non-null float64
adjustment         446896 non-null int64
payment            446896 non-null float64
status             446896 non-null int64
createdOn          446896 non-null object
remarks            11444 non-null object
lastupdated        446896 non-null object
updatedby          446896 non-null int64
bLava              446896 non-null int64
additional_type    446896 non-null int64
remake_id          446896 non-null int64
additional_id      446896 non-null int64
discount_amt       441875 non-null float64
priority           446896 non-null int64
tax_1              441875 non-null float64
tax_2              441875 non-null float64
enable_tax_1       441875 non-null float64
enable_tax_2       441875 non-null float64
enable_discount    441875 non-null float64
labName            446896 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 119.3+ MB

In [20]:
df_charging_items = df_charging_items.append(df_charging_items_labstarJK, ignore_index=True)

In [21]:
df_charging_items_labstarLL = pd.read_csv("data/union_charging_items_labstarLL.csv")
df_charging_items_labstarLL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339398 entries, 0 to 339397
Data columns (total 35 columns):
id                 339398 non-null int64
ref_type           339398 non-null int64
charge_ty          339398 non-null int64
billing_item_id    339398 non-null int64
case_id            339398 non-null int64
case_item_id       339398 non-null int64
ref_id             339398 non-null int64
product_id         339398 non-null int64
tooth_num          339398 non-null int64
pricebook_id       339398 non-null int64
material_id        339398 non-null int64
unit_price         339398 non-null float64
quantity           339398 non-null float64
currency           0 non-null float64
discount           339398 non-null float64
surcharge          0 non-null float64
adjustment         339398 non-null int64
payment            339398 non-null float64
status             339398 non-null int64
createdOn          339398 non-null object
remarks            3318 non-null object
lastupdated        339398 non-null object
updatedby          339398 non-null int64
bLava              339398 non-null int64
additional_type    339398 non-null int64
remake_id          339398 non-null int64
additional_id      339398 non-null int64
discount_amt       332294 non-null float64
priority           339398 non-null int64
tax_1              332294 non-null float64
tax_2              332294 non-null float64
enable_tax_1       332294 non-null float64
enable_tax_2       332294 non-null float64
enable_discount    332294 non-null float64
labName            339398 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 90.6+ MB

In [22]:
df_charging_items = df_charging_items.append(df_charging_items_labstarLL, ignore_index=True)

In [23]:
df_charging_items_labstarMM = pd.read_csv("data/union_charging_items_labstarMM.csv")
df_charging_items_labstarMM.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415365 entries, 0 to 415364
Data columns (total 35 columns):
id                 415365 non-null int64
ref_type           415365 non-null int64
charge_ty          415365 non-null int64
billing_item_id    415365 non-null int64
case_id            415365 non-null int64
case_item_id       415365 non-null int64
ref_id             415365 non-null int64
product_id         415365 non-null int64
tooth_num          415365 non-null int64
pricebook_id       415365 non-null int64
material_id        415365 non-null int64
unit_price         415365 non-null float64
quantity           415365 non-null float64
currency           0 non-null float64
discount           415365 non-null float64
surcharge          0 non-null float64
adjustment         415365 non-null int64
payment            415365 non-null float64
status             415365 non-null int64
createdOn          415365 non-null object
remarks            6523 non-null object
lastupdated        415365 non-null object
updatedby          415365 non-null int64
bLava              415365 non-null int64
additional_type    415365 non-null int64
remake_id          415365 non-null int64
additional_id      415365 non-null int64
discount_amt       411697 non-null float64
priority           415364 non-null float64
tax_1              411697 non-null float64
tax_2              411697 non-null float64
enable_tax_1       411697 non-null float64
enable_tax_2       411697 non-null float64
enable_discount    411697 non-null float64
labName            415365 non-null object
dtypes: float64(13), int64(18), object(4)
memory usage: 110.9+ MB

In [24]:
df_charging_items = df_charging_items.append(df_charging_items_labstarMM, ignore_index=True)

In [25]:
df_charging_items_labstarNO = pd.read_csv("data/union_charging_items_labstarNO.csv")
df_charging_items_labstarNO.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314128 entries, 0 to 314127
Data columns (total 35 columns):
id                 314128 non-null int64
ref_type           314128 non-null int64
charge_ty          314128 non-null int64
billing_item_id    314128 non-null int64
case_id            314128 non-null int64
case_item_id       314128 non-null int64
ref_id             314128 non-null int64
product_id         314128 non-null int64
tooth_num          314128 non-null int64
pricebook_id       314128 non-null int64
material_id        314128 non-null int64
unit_price         314128 non-null float64
quantity           314128 non-null float64
currency           0 non-null float64
discount           314128 non-null float64
surcharge          0 non-null float64
adjustment         314128 non-null int64
payment            314128 non-null float64
status             314128 non-null int64
createdOn          314128 non-null object
remarks            12947 non-null object
lastupdated        314128 non-null object
updatedby          314128 non-null int64
bLava              314128 non-null int64
additional_type    314128 non-null int64
remake_id          314128 non-null int64
additional_id      314128 non-null int64
discount_amt       314128 non-null float64
priority           314128 non-null int64
tax_1              314128 non-null float64
tax_2              314128 non-null int64
enable_tax_1       314128 non-null int64
enable_tax_2       314128 non-null int64
enable_discount    314128 non-null int64
labName            314128 non-null object
dtypes: float64(8), int64(23), object(4)
memory usage: 83.9+ MB

In [26]:
df_charging_items = df_charging_items.append(df_charging_items_labstarNO, ignore_index=True)

In [27]:
df_charging_items_labstarPQ = pd.read_csv("data/union_charging_items_labstarPQ.csv")
df_charging_items_labstarPQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781274 entries, 0 to 781273
Data columns (total 35 columns):
id                 781274 non-null int64
ref_type           781274 non-null int64
charge_ty          781274 non-null int64
billing_item_id    781274 non-null int64
case_id            781274 non-null int64
case_item_id       781274 non-null int64
ref_id             781274 non-null int64
product_id         781274 non-null int64
tooth_num          781274 non-null int64
pricebook_id       781274 non-null int64
material_id        781274 non-null int64
unit_price         781274 non-null float64
quantity           781274 non-null float64
currency           0 non-null float64
discount           781274 non-null float64
surcharge          0 non-null float64
adjustment         781274 non-null int64
payment            781274 non-null float64
status             781274 non-null int64
createdOn          781274 non-null object
remarks            30585 non-null object
lastupdated        781274 non-null object
updatedby          781274 non-null int64
bLava              781274 non-null int64
additional_type    781274 non-null int64
remake_id          781274 non-null int64
additional_id      781274 non-null int64
discount_amt       779036 non-null float64
priority           781274 non-null int64
tax_1              779036 non-null float64
tax_2              779036 non-null float64
enable_tax_1       779036 non-null float64
enable_tax_2       779036 non-null float64
enable_discount    779036 non-null float64
labName            781274 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 208.6+ MB

In [28]:
df_charging_items = df_charging_items.append(df_charging_items_labstarPQ, ignore_index=True)

In [29]:
df_charging_items_labstarRR = pd.read_csv("data/union_charging_items_labstarRR.csv")
df_charging_items_labstarRR.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360855 entries, 0 to 360854
Data columns (total 35 columns):
id                 360855 non-null int64
ref_type           360855 non-null int64
charge_ty          360855 non-null int64
billing_item_id    360855 non-null int64
case_id            360855 non-null int64
case_item_id       360855 non-null int64
ref_id             360855 non-null int64
product_id         360855 non-null int64
tooth_num          360855 non-null int64
pricebook_id       360855 non-null int64
material_id        360855 non-null int64
unit_price         360855 non-null float64
quantity           360855 non-null float64
currency           0 non-null float64
discount           360855 non-null float64
surcharge          0 non-null float64
adjustment         360855 non-null int64
payment            360855 non-null float64
status             360855 non-null int64
createdOn          360855 non-null object
remarks            4984 non-null object
lastupdated        360855 non-null object
updatedby          360855 non-null int64
bLava              360855 non-null int64
additional_type    360855 non-null int64
remake_id          360855 non-null int64
additional_id      360855 non-null int64
discount_amt       360512 non-null float64
priority           360855 non-null int64
tax_1              360512 non-null float64
tax_2              360512 non-null float64
enable_tax_1       360512 non-null float64
enable_tax_2       360512 non-null float64
enable_discount    360512 non-null float64
labName            360855 non-null object
dtypes: float64(12), int64(19), object(4)
memory usage: 96.4+ MB

In [30]:
df_charging_items = df_charging_items.append(df_charging_items_labstarRR, ignore_index=True)

In [31]:
df_charging_items_labstarSS = pd.read_csv("data/union_charging_items_labstarSS.csv")
df_charging_items_labstarSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039048 entries, 0 to 1039047
Data columns (total 35 columns):
id                 1039048 non-null int64
ref_type           1039048 non-null int64
charge_ty          1039048 non-null int64
billing_item_id    1039048 non-null int64
case_id            1039048 non-null int64
case_item_id       1039048 non-null int64
ref_id             1039048 non-null int64
product_id         1039048 non-null int64
tooth_num          1039048 non-null int64
pricebook_id       1039048 non-null int64
material_id        1039048 non-null int64
unit_price         1039048 non-null float64
quantity           1039048 non-null float64
currency           0 non-null float64
discount           1039048 non-null float64
surcharge          0 non-null float64
adjustment         1039048 non-null int64
payment            1039048 non-null float64
status             1039048 non-null int64
createdOn          1039048 non-null object
remarks            28766 non-null object
lastupdated        1039048 non-null object
updatedby          1039048 non-null int64
bLava              1039048 non-null int64
additional_type    1039048 non-null int64
remake_id          1039048 non-null int64
additional_id      1039048 non-null int64
discount_amt       1030996 non-null float64
priority           1039047 non-null float64
tax_1              1030996 non-null float64
tax_2              1030996 non-null float64
enable_tax_1       1030996 non-null float64
enable_tax_2       1030996 non-null float64
enable_discount    1030996 non-null float64
labName            1039048 non-null object
dtypes: float64(13), int64(18), object(4)
memory usage: 277.5+ MB

In [32]:
df_charging_items = df_charging_items.append(df_charging_items_labstarSS, ignore_index=True)

In [33]:
df_charging_items_labstarTU = pd.read_csv("data/union_charging_items_labstarTU.csv")
df_charging_items_labstarTU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253797 entries, 0 to 253796
Data columns (total 35 columns):
id                 253797 non-null int64
ref_type           253797 non-null int64
charge_ty          253797 non-null int64
billing_item_id    253797 non-null int64
case_id            253797 non-null int64
case_item_id       253797 non-null int64
ref_id             253797 non-null int64
product_id         253797 non-null int64
tooth_num          253797 non-null int64
pricebook_id       253797 non-null int64
material_id        253797 non-null int64
unit_price         253797 non-null float64
quantity           253797 non-null float64
currency           0 non-null float64
discount           253797 non-null float64
surcharge          0 non-null float64
adjustment         253797 non-null int64
payment            253797 non-null float64
status             253797 non-null int64
createdOn          253797 non-null object
remarks            9757 non-null object
lastupdated        253797 non-null object
updatedby          253797 non-null int64
bLava              253797 non-null int64
additional_type    253797 non-null int64
remake_id          253797 non-null int64
additional_id      253797 non-null int64
discount_amt       253040 non-null float64
priority           253794 non-null float64
tax_1              253040 non-null float64
tax_2              253040 non-null float64
enable_tax_1       253040 non-null float64
enable_tax_2       253040 non-null float64
enable_discount    253040 non-null float64
labName            253797 non-null object
dtypes: float64(13), int64(18), object(4)
memory usage: 67.8+ MB

In [34]:
df_charging_items = df_charging_items.append(df_charging_items_labstarTU, ignore_index=True)

In [35]:
df_charging_items_labstarV2Z = pd.read_csv("data/union_charging_items_labstarV2Z.csv")
df_charging_items_labstarV2Z.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307153 entries, 0 to 307152
Data columns (total 35 columns):
id                 307153 non-null int64
ref_type           307153 non-null int64
charge_ty          307153 non-null int64
billing_item_id    307153 non-null int64
case_id            307153 non-null int64
case_item_id       307153 non-null int64
ref_id             307153 non-null int64
product_id         307153 non-null int64
tooth_num          307153 non-null int64
pricebook_id       307153 non-null int64
material_id        307153 non-null int64
unit_price         307153 non-null float64
quantity           307153 non-null float64
currency           0 non-null float64
discount           307153 non-null float64
surcharge          0 non-null float64
adjustment         307153 non-null float64
payment            307153 non-null float64
status             307153 non-null int64
createdOn          307153 non-null object
remarks            3898 non-null object
lastupdated        307153 non-null object
updatedby          307153 non-null int64
bLava              307153 non-null int64
additional_type    307153 non-null int64
remake_id          307153 non-null int64
additional_id      307153 non-null int64
discount_amt       301368 non-null float64
priority           307153 non-null int64
tax_1              301368 non-null float64
tax_2              301368 non-null float64
enable_tax_1       301368 non-null float64
enable_tax_2       301368 non-null float64
enable_discount    301368 non-null float64
labName            307153 non-null object
dtypes: float64(13), int64(18), object(4)
memory usage: 82.0+ MB

In [36]:
df_charging_items = df_charging_items.append(df_charging_items_labstarV2Z, ignore_index=True)

In [37]:
df_charging_items_soundtrack32L = pd.read_csv("data/union_charging_items_soundtrack32L.csv")
df_charging_items_soundtrack32L.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1620284 entries, 0 to 1620283
Data columns (total 35 columns):
id                 1620284 non-null int64
ref_type           1620284 non-null int64
charge_ty          1620284 non-null int64
billing_item_id    1620284 non-null int64
case_id            1620284 non-null int64
case_item_id       1620284 non-null int64
ref_id             1620284 non-null int64
product_id         1620284 non-null int64
tooth_num          1620284 non-null int64
pricebook_id       1620284 non-null int64
material_id        1620284 non-null int64
unit_price         1620284 non-null float64
quantity           1620284 non-null float64
currency           0 non-null float64
discount           1620284 non-null float64
surcharge          0 non-null float64
adjustment         1620284 non-null float64
payment            1620284 non-null float64
status             1620284 non-null int64
createdOn          1620284 non-null object
remarks            33816 non-null object
lastupdated        1620284 non-null object
updatedby          1620284 non-null int64
bLava              1620284 non-null int64
additional_type    1620284 non-null int64
remake_id          1620284 non-null int64
additional_id      1620284 non-null int64
discount_amt       1353505 non-null float64
priority           1620282 non-null float64
tax_1              1353505 non-null float64
tax_2              1353505 non-null float64
enable_tax_1       1353505 non-null float64
enable_tax_2       1353505 non-null float64
enable_discount    1353505 non-null float64
labName            1620284 non-null object
dtypes: float64(14), int64(17), object(4)
memory usage: 432.7+ MB

In [38]:
df_charging_items = df_charging_items.append(df_charging_items_soundtrack32L, ignore_index=True)

In [39]:
df_charging_items_soundtrackM2Z = pd.read_csv("data/union_charging_items_soundtrackM2Z.csv")
df_charging_items_soundtrackM2Z.info()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562745 entries, 0 to 1562744
Data columns (total 35 columns):
id                 1562745 non-null int64
ref_type           1562745 non-null int64
charge_ty          1562745 non-null int64
billing_item_id    1562745 non-null int64
case_id            1562745 non-null int64
case_item_id       1562745 non-null int64
ref_id             1562745 non-null int64
product_id         1562745 non-null int64
tooth_num          1562745 non-null int64
pricebook_id       1562745 non-null int64
material_id        1562721 non-null float64
unit_price         1562745 non-null float64
quantity           1562745 non-null float64
currency           0 non-null float64
discount           1562745 non-null float64
surcharge          0 non-null float64
adjustment         1562745 non-null float64
payment            1562745 non-null float64
status             1562745 non-null int64
createdOn          1562745 non-null object
remarks            31089 non-null object
lastupdated        1562745 non-null object
updatedby          1562745 non-null int64
bLava              1562745 non-null int64
additional_type    1562721 non-null float64
remake_id          1562745 non-null int64
additional_id      1561800 non-null float64
discount_amt       1300322 non-null float64
priority           1562745 non-null int64
tax_1              1300322 non-null float64
tax_2              1300322 non-null float64
enable_tax_1       1300322 non-null float64
enable_tax_2       1300322 non-null float64
enable_discount    1300322 non-null float64
labName            1562745 non-null object
dtypes: float64(16), int64(15), object(4)
memory usage: 417.3+ MB

In [40]:
df_charging_items = df_charging_items.append(df_charging_items_soundtrackM2Z, ignore_index=True)

In [41]:
df_charging_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11107949 entries, 0 to 11107948
Data columns (total 35 columns):
id                 int64
ref_type           int64
charge_ty          int64
billing_item_id    int64
case_id            int64
case_item_id       int64
ref_id             int64
product_id         int64
tooth_num          int64
pricebook_id       int64
material_id        float64
unit_price         float64
quantity           float64
currency           float64
discount           float64
surcharge          float64
adjustment         float64
payment            float64
status             int64
createdOn          object
remarks            object
lastupdated        object
updatedby          int64
bLava              int64
additional_type    float64
remake_id          int64
additional_id      float64
discount_amt       float64
priority           float64
tax_1              float64
tax_2              float64
enable_tax_1       float64
enable_tax_2       float64
enable_discount    float64
labName            object
dtypes: float64(17), int64(14), object(4)
memory usage: 2.9+ GB

In [43]:
df_charging_items.isnull().sum()

id                        0
ref_type                  0
charge_ty                 0
billing_item_id           0
case_id                   0
case_item_id              0
ref_id                    0
product_id                0
tooth_num                 0
pricebook_id              0
material_id              40
unit_price                0
quantity                  0
currency           11107949
discount                  0
surcharge          11107949
adjustment                0
payment                   0
status                    0
createdOn                 0
remarks            10879106
lastupdated               0
updatedby                 0
bLava                     0
additional_type          40
remake_id                 0
additional_id          1575
discount_amt         609894
priority                  7
tax_1                609894
tax_2                609894
enable_tax_1         609894
enable_tax_2         609894
enable_discount      609894
labName                   0
dtype: int64

In [ ]:
df_charging_items.currency.unique()

In [42]:
# Save to csv
df_charging_items.to_csv('data/charging_items_clean1.csv')

### FIRST ROUND CLEANING 'union_all_billing_items.csv'

In [ ]:
df_billing_items = pd.read_csv("data/union_all_billing_items.csv")
df_billing_items.head()

In [ ]:
df_billing_items.info()

In [ ]:
# Number of NaN values
df_billing_items.isnull().sum()

In [ ]:
# Drop 14 columns
df_billing_items.drop('exrate', axis=1, inplace=True)
df_billing_items.drop('currency', axis=1, inplace=True)
df_billing_items.drop('material_id', axis=1, inplace=True)
df_billing_items.drop('material_price', axis=1, inplace=True)
df_billing_items.drop('material_quantity', axis=1, inplace=True)
df_billing_items.drop('material_payment', axis=1, inplace=True)
df_billing_items.drop('bValidated', axis=1, inplace=True)
df_billing_items.drop('bill_charge_ty', axis=1, inplace=True)
df_billing_items.drop('restoration_ty', axis=1, inplace=True)
df_billing_items.drop('quantity', axis=1, inplace=True)
df_billing_items.drop('descriptions', axis=1, inplace=True)
df_billing_items.drop('case_change_id', axis=1, inplace=True)
df_billing_items.drop('refund_id', axis=1, inplace=True)
df_billing_items.drop('accepted_remarks', axis=1, inplace=True)

In [ ]:
# Save to csv
df_billing_items.to_csv('data/billing_items_clean1.csv')