In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
# import calendar

# Preparing table 'subscribers'

In [43]:
df_subscribers = pd.read_csv("data/subscribers_clean1.csv")
df_subscribers.head()

,id,group_id,name,database,url,remarks,lastupdated,updatedby,bActive,logo1,...,internal_name,document_logo3,dt_email,dt_pass,mobile_app_func,feature_set,site_location_server,subscription_plan,timezone,labName
0,4,-999,LabStar Demo 2,MTG_SOUNDTRACK_SB_DEMO,demo2.labstar.com,MTG_SOUNDTRACK_SB_DEMO,2017-11-16 05:38:33.763,1,1,/pub/subscribers/4/login.png,...,LabStar Demo 2,/pub/subscribers/4/doc_som.png,demo2@dentaldropbox.com,125365124365yagsdfhg,0,"5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ...",10.0,NaN,EST5EDT,SB_DEMO
1,6,-999,"Solo Milling, Inc",MTG_SOUNDTRACK_COREMILLINGCENTER,solomilling.labstar.com,NaN,2019-01-10 01:08:02.610,1,1,/pub/subscribers/6/login.png,...,"Solo Milling, Inc",/pub/subscribers/6/doc_som.png,solomilling@dentaldropbox.com,125365124365yagsdfhg,0,"5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ...",20.0,6.0,US/Pacific,COREMILLINGCENTER
2,7,-999,Neo Dental Ltd,MTG_SOUNDTRACK_ADL,adl.labstar.com,NaN,2014-06-11 23:04:34.000,1,1,/pub/subscribers/7/login.png,...,Neo Dental Ltd,/pub/subscribers/7/doc_som.png,adl@dentaldropbox.com,125365124365yagsdfhg,1,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,...",10.0,6.0,Pacific/Auckland,ADL
3,10,-999,Azztech Dental Studio,MTG_SOUNDTRACK_AZZTECH,azztechdentalstudio.labstar.com,NaN,2011-06-01 19:50:21.000,1,1,/pub/subscribers/10/login.png,...,Azztech Dental Studio,/pub/subscribers/10/doc_som.png,azztechdentalstudio@dentaldropbox.com,125365124365yagsdfhg,1,"1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15...",20.0,6.0,EST5EDT,AZZTECH
4,11,-999,Jet Lab,MTG_SOUNDTRACK_JETLAB,jetlab.labstar.com,NaN,2016-04-28 00:16:21.270,2,1,/pub/subscribers/11/login.png,...,Jet Lab,/pub/subscribers/11/doc_som.png,jetlab@dentaldropbox.com,125365124365yagsdfhg,0,"5, 10, 8, 13, 3, 11, 2, 9, 6, 12, 15, 1, 16, 1...",40.0,4.0,US/Mountain,JETLAB

In [44]:
df_subscribers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 34 columns):
id                      488 non-null int64
group_id                488 non-null int64
name                    488 non-null object
database                488 non-null object
url                     488 non-null object
remarks                 3 non-null object
lastupdated             488 non-null object
updatedby               488 non-null int64
bActive                 488 non-null int64
logo1                   488 non-null object
logo2                   488 non-null object
logo3                   0 non-null float64
document_logo           488 non-null object
email                   488 non-null object
https                   488 non-null int64
remote_upload           488 non-null int64
login_screen_txt1       1 non-null object
subscriber_langs        22 non-null object
client_langs            22 non-null object
manufacturer_langs      17 non-null object
login_screen_lang       488 non-null int64
scan_logo               488 non-null object
document_logo2          488 non-null object
site_location           488 non-null int64
internal_name           488 non-null object
document_logo3          130 non-null object
dt_email                485 non-null object
dt_pass                 488 non-null object
mobile_app_func         488 non-null int64
feature_set             488 non-null object
site_location_server    470 non-null float64
subscription_plan       481 non-null float64
timezone                487 non-null object
labName                 488 non-null object
dtypes: float64(3), int64(9), object(22)
memory usage: 129.7+ KB

In [45]:
# Extract columns needed for analysis
df_subscribers_reduced = df_subscribers[['labName', 'id', 'group_id', 'name', 'subscription_plan',
                                'lastupdated', 'feature_set']]

# Rename some columns
df_subscribers_reduced = df_subscribers_reduced.rename(columns={'labName': 'lab_name', 'id': 'subscriber_id', 
                                                                'group_id': 'subscriber_group_id',
                                                                'name': 'subscriber_name',
                                                               'lastupdated': 'subscriber_last_updated',
                                                               'subscription_plan': 'subscription_plan_id'})
df_subscribers_reduced.head()

,lab_name,subscriber_id,subscriber_group_id,subscriber_name,subscription_plan_id,subscriber_last_updated,feature_set
0,SB_DEMO,4,-999,LabStar Demo 2,NaN,2017-11-16 05:38:33.763,"5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ..."
1,COREMILLINGCENTER,6,-999,"Solo Milling, Inc",6.0,2019-01-10 01:08:02.610,"5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ..."
2,ADL,7,-999,Neo Dental Ltd,6.0,2014-06-11 23:04:34.000,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,..."
3,AZZTECH,10,-999,Azztech Dental Studio,6.0,2011-06-01 19:50:21.000,"1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15..."
4,JETLAB,11,-999,Jet Lab,4.0,2016-04-28 00:16:21.270,"5, 10, 8, 13, 3, 11, 2, 9, 6, 12, 15, 1, 16, 1..."

In [50]:
df_subscribers_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 7 columns):
lab_name                   488 non-null object
subscriber_id              488 non-null int64
subscriber_group_id        488 non-null int64
subscriber_name            488 non-null object
subscription_plan_id       481 non-null float64
subscriber_last_updated    488 non-null object
feature_set                488 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 26.8+ KB

In [47]:
# Identify and drop demo subscribers/labs
labs_out =  df_subscribers_reduced[df_subscribers_reduced['subscription_plan_id'].isnull()]
labs_out.lab_name.unique()

array(['SB_DEMO', 'SB_DEMO4', 'SB_DEMO3', 'DEMO_ELB', 'TEST_EAST',
       'DEMO5', 'DEMO6'], dtype=object)

In [ ]:
df_subscribers_reduced.dropna(subset=['subscription_plan_id'], inplace=True)
df_subscribers_reduced['subscription_plan_id'] = df_subscribers_reduced['subscription_plan_id'].astype(int)
df_subscribers_reduced.info()

In [ ]:
df_subscribers_reduced.head()

In [ ]:
df_subscribers_reduced.subscription_plan_name.value_counts()

In [ ]:
# Transform 'subscriber_last_updated' to datetime & create 'subscriber_year' column
df_subscribers_reduced['subscriber_last_updated'] = pd.to_datetime(df_subscribers_reduced['subscriber_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_subscribers_reduced['subscriber_year'] = pd.to_datetime(df_subscribers_reduced['subscriber_last_updated']).apply(lambda x: x.strftime('%Y'))
df_subscribers_reduced.head()

In [ ]:
df_subscribers_reduced.subscriber_year.value_counts()

In [ ]:
df_subscribers_reduced.info()

In [51]:
df_features = df_subscribers_reduced[['lab_name', 'feature_set']].dropna()
df_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488 entries, 0 to 487
Data columns (total 2 columns):
lab_name       488 non-null object
feature_set    488 non-null object
dtypes: object(2)
memory usage: 11.4+ KB

In [52]:
df_features.head()

            lab_name                                        feature_set
0            SB_DEMO  5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ...
1  COREMILLINGCENTER  5, 10, 8, 19, 13, 3, 21, 11, 2, 9, 6, 12, 15, ...
2                ADL  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,...
3            AZZTECH  1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15...
4             JETLAB  5, 10, 8, 13, 3, 11, 2, 9, 6, 12, 15, 1, 16, 1...

In [53]:
df_features_exp = df_features['feature_set'].str.split(',', expand = True)
df_features_exp['nb_features'] = df_features_exp.count(axis=1).apply(lambda x: str(x))
df_features_exp.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,nb_features
0,5,10,8,19,13,3,21,11,2,9,...,17,1,16,14,22,7,23,4,20,23
1,5,10,8,19,13,3,21,11,2,9,...,16,14,23,4,20,None,None,None,None,19
2,1,2,3,4,5,6,7,8,9,10,...,15,16,19,20,21,23,None,None,None,20
3,1,2,3,4,5,6,8,9,10,11,...,16,19,20,21,23,None,None,None,None,19
4,5,10,8,13,3,11,2,9,6,12,...,4,7,17,18,19,20,21,22,23,23

In [54]:
df_features['nb_features'] = df_features_exp['nb_features']
df_features_exp.drop('nb_features', axis=1, inplace=True)
df_features.drop('feature_set', axis=1, inplace=True)
df_features.head()

            lab_name nb_features
0            SB_DEMO          23
1  COREMILLINGCENTER          19
2                ADL          20
3            AZZTECH          19
4             JETLAB          23

In [55]:
df_subscribers_reduced.drop('feature_set', axis=1, inplace=True)
df_subscribers_reduced = pd.merge(df_subscribers_reduced, df_features, how='left', on=['lab_name'])
df_subscribers_reduced['nb_features'] = df_subscribers_reduced['nb_features'].apply(lambda x : int(x) if type(x) == str else '')
df_subscribers_reduced.head()

,lab_name,subscriber_id,subscriber_group_id,subscriber_name,subscription_plan_id,subscriber_last_updated,nb_features
0,SB_DEMO,4,-999,LabStar Demo 2,NaN,2017-11-16 05:38:33.763,23
1,COREMILLINGCENTER,6,-999,"Solo Milling, Inc",6.0,2019-01-10 01:08:02.610,19
2,ADL,7,-999,Neo Dental Ltd,6.0,2014-06-11 23:04:34.000,20
3,AZZTECH,10,-999,Azztech Dental Studio,6.0,2011-06-01 19:50:21.000,19
4,JETLAB,11,-999,Jet Lab,4.0,2016-04-28 00:16:21.270,23

In [56]:
df_subscribers_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 488 entries, 0 to 487
Data columns (total 7 columns):
lab_name                   488 non-null object
subscriber_id              488 non-null int64
subscriber_group_id        488 non-null int64
subscriber_name            488 non-null object
subscription_plan_id       481 non-null float64
subscriber_last_updated    488 non-null object
nb_features                488 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 30.5+ KB

In [57]:
# Save to csv
df_subscribers_reduced.to_csv('data/subscribers_clean2.csv', index=False, header=True)

# Preparing table 'cases'

In [ ]:
df_cases = pd.read_csv("data/cases_clean1.csv")
df_cases.head()

In [ ]:
# Extract columns needed for analysis
df_cases_reduced = df_cases[['labName', 'id', 'client_id', 'state',
                             'createdOn', 'other_products', 'client_estimated_price']]
# Rename some columns
df_cases_reduced = df_cases_reduced.rename(columns={'labName': 'lab_name', 'id': 'case_id', 'createdOn': 'created_on',
                                                   'state': 'case_state'})
df_cases_reduced.head()

In [ ]:
df_cases_reduced.info()

In [ ]:
df_cases_reduced.isnull().sum()

# Calculate elapsed time between when a case is created and when it is marked as settled
df_case_period = df_cases_reduced[['lab_name', 'case_id', 'created_on', 'settled_on']].dropna()
df_case_period['created_on'] = df_case_period['created_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_case_period['settled_on'] = df_case_period['settled_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_case_period.head()

df_case_period['case_tdelta'] = (df_case_period.settled_on - df_case_period.created_on)
df_case_period['case_tdelta_hours'] = (df_case_period.settled_on - df_case_period.created_on).astype('timedelta64[h]')
df_case_period['case_tdelta_hours'] = df_case_period['case_tdelta_hours'].apply(lambda x: int(x)).apply(lambda x: str(x))
df_case_period.head()

df_case_period.drop('created_on', axis=1, inplace=True)
df_cases_reduced.drop('settled_on', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_case_period, how='left', on=['lab_name', 'case_id'])
#df_cases_reduced['case_tdelta_hours'] = df_cases_reduced['case_tdelta_hours'].apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

In [ ]:
df_cases_reduced.info()

In [ ]:
#df_cases_reduced['created_on'] = pd.to_datetime(df_cases_reduced['created_on']).apply(lambda x: x.strftime('%Y-%m-%d'))
#df_cases_reduced['case_tdelta'] = pd.to_timedelta(df_cases_reduced['case_tdelta'])
df_cases_reduced['case_year'] = pd.to_datetime(df_cases_reduced['created_on']).apply(lambda x: x.strftime('%Y'))
df_cases_reduced.head()

In [ ]:
# Remove irrelevant years
df_cases_reduced.case_year.unique()

In [ ]:
df_cases_reduced = df_cases_reduced[df_cases_reduced.case_year != '1899']
df_cases_reduced = df_cases_reduced[df_cases_reduced.case_year != '2010']
df_cases_reduced.case_year.unique()

In [ ]:
df_cases_reduced.info()

# Transform 'barcode to str
df_barcode = df_cases_reduced[['lab_name', 'case_id', 'barcode']].dropna()
df_barcode['barcode'] = df_barcode.barcode.apply(lambda x: int(x)).apply(lambda x: str(x))
df_cases_reduced.drop('barcode', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_barcode, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['barcode'] = df_cases_reduced['barcode'].apply(lambda x : x if type(x) == str else '')
df_cases_reduced.head()

# Transform 'vendor_id' to int
df_vendor_id = df_cases_reduced[['lab_name', 'case_id', 'vendor_id']].dropna()
df_vendor_id['vendor_id'] = df_vendor_id.vendor_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_cases_reduced.drop('vendor_id', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_vendor_id, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['vendor_id'] = df_cases_reduced['vendor_id'].apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

# Transform 'client_id' to int
df_client_id = df_cases_reduced[['lab_name', 'case_id', 'client_id']].dropna()
df_client_id['client_id'] = df_client_id.client_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_cases_reduced.drop('client_id', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_client_id, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['client_id'] = df_cases_reduced['client_id'].apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

# Tranform 'case_state' to int
df_state = df_cases_reduced[['lab_name', 'case_id', 'case_state']].dropna()
df_state['case_state'] = df_state.case_state.apply(lambda x: int(x)).apply(lambda x: str(x))
df_cases_reduced.drop('case_state', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_state, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['case_state'] = df_cases_reduced['case_state'].apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

# Transform 'created_by' to int
df_created_by = df_cases_reduced[['lab_name', 'case_id', 'created_by']].dropna()
df_created_by['created_by'] = df_created_by.created_by.apply(lambda x: int(x)).apply(lambda x: str(x))
df_cases_reduced.drop('created_by', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_created_by, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['created_by'] = df_cases_reduced['created_by'].apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

### Splitting items in 'other_products' field

In [ ]:
df_other_products = df_cases_reduced[['lab_name', 'case_id', 'other_products']].dropna()
df_other_products.info()

In [ ]:
df_other_products.head()

In [ ]:
df_other_products_exp = df_other_products['other_products'].str.split(',', expand = True)
df_other_products_exp['nb_other_products'] = df_other_products_exp.count(axis=1).apply(lambda x: str(x))
df_other_products_exp.head()

In [ ]:
df_other_products['nb_other_products'] = df_other_products_exp['nb_other_products']
df_other_products_exp.drop('nb_other_products', axis=1, inplace=True)
df_other_products.drop('other_products', axis=1, inplace=True)
df_other_products.head()

In [ ]:
df_cases_reduced.drop('other_products', axis=1, inplace=True)
df_cases_reduced = pd.merge(df_cases_reduced, df_other_products, how='left', on=['lab_name', 'case_id'])
df_cases_reduced['nb_other_products'] = df_cases_reduced['nb_other_products'] #.apply(lambda x : int(x) if type(x) == str else '')
df_cases_reduced.head()

In [ ]:
df_cases_reduced.info()

### Save prepped table 'cases' to csv

In [ ]:
df_cases_reduced.to_csv('data/cases_clean2.csv', index=False, header=True)

# Preparing table 'product_additional'

In [ ]:
df_product_additional = pd.read_csv("data/product_additional_clean1.csv")
df_product_additional.head()

In [ ]:
# Extract columns needed for analysis
df_product_adtl_reduced = df_product_additional[['labName', 'id', 'name']]

# Rename some columns
df_product_adtl_reduced = df_product_adtl_reduced.rename(columns={'labName': 'lab_name',
                                                                  'id': 'product_additional_id',
                                                                  'name': 'product_additional_name'})
df_product_adtl_reduced.info()

In [ ]:
df_product_adtl_reduced['product_additional_id'] = df_product_adtl_reduced['product_additional_id'].astype(str)
df_product_adtl_reduced.info()

In [ ]:
df_product_adtl_reduced.head()

In [ ]:
df_other_products_exp.columns = df_other_products_exp.columns.astype(str)
df_other_products_exp.columns

In [ ]:
df_other_products_concat = pd.concat([df_other_products, df_other_products_exp], axis=1)
df_other_products_concat.head()

In [ ]:
# Assemble new table 'product_additional'
df = pd.DataFrame()
for i in range(54):
    df_left = df_other_products_concat[['lab_name', 'case_id', f'{i}']].dropna()
    df_temp = pd.merge(df_left, df_product_adtl_reduced, how='left',
                left_on=['lab_name', f'{i}'], right_on=['lab_name', 'product_additional_id'])
    df_temp.drop_duplicates(keep='first', inplace=False)
    df_temp.drop(f'{i}', axis=1, inplace=True)
    df = df.append(df_temp, ignore_index=True)
df.head()

In [ ]:
df.dropna()
df.info()

In [ ]:
# Save to csv
df.to_csv('data/product_additional_clean2.csv')

# Preparing table 'attachment'

In [ ]:
df_attachment = pd.read_csv("data/attachment_clean1.csv")
df_attachment.head()

In [ ]:
# Extract columns needed for analysis
df_attachment = df_attachment[['labName', 'id', 'case_id', 'file_name', 'file_size', 'ty']]

# Rename some columns
df_attachment = df_attachment.rename(columns={'labName': 'lab_name', 'id': 'attachment_id'})
df_attachment.info()

In [ ]:
df_attachment.isnull().sum()

In [ ]:
# Transform 'case_id' to int
df_case_id = df_attachment[['lab_name', 'attachment_id', 'case_id']].dropna()
df_case_id['case_id'] = df_case_id.case_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_case_id.info()

In [ ]:
#df_attachment = df_attachment[df_attachment.case_id != 'E105CC70-C6E5-4D12-A957-2533A5F873D3-20180113103844']
#df_attachment = df_attachment[df_attachment.case_id != '607C694F-B742-4A85-926B-76ECA81C431E-20180126091726']
df_attachment.info()

In [ ]:
# Save to csv
df_attachment.to_csv('data/attachment_clean2.csv')

# Preparing table 'case_items'

In [ ]:
df_case_items = pd.read_csv("data/case_items_clean1.csv")
df_case_items.head()

In [ ]:
df_case_items.info()

In [ ]:
df_case_items.isnull().sum()

In [ ]:
# Extract columns needed for analysis
df_case_items_reduced = df_case_items[['labName', 'id', 'case_id', 'product_id', 'tooth_num', 'tooth_type',
                                       'crown_type', 'createdOn', 'lastupdated', 'client_estimated_price',
                                       'other_settings']]

# Rename some columns
df_case_items_reduced = df_case_items_reduced.rename(columns={'labName': 'lab_name', 'id': 'case_item_id',
                                                             'tooth_type': 'tooth_type_oid',
                                                              'tooth_num': 'case_item_tooth_num',
                                                              'crown_type': 'case_item_crown_type',
                                                             'createdOn': 'case_item_created_on',
                                                             'lastupdated': 'case_item_last_updated'})

In [ ]:
df_case_items_reduced.info()

# Transform 'product_id' to int
df_product_id = df_case_items_reduced[['lab_name', 'case_item_id', 'product_id']].dropna()
df_product_id['product_id'] = df_product_id.product_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_case_items_reduced.drop('product_id', axis=1, inplace=True)
df_case_items_reduced = pd.merge(df_case_items_reduced, df_product_id, how='left', on=['lab_name', 'case_item_id'])
df_case_items_reduced['product_id'] = df_case_items_reduced['product_id'].apply(lambda x : int(x) if type(x) == str else '')
df_case_items_reduced.head()

In [ ]:
# Transform 'case_item_created_on' to datetime
df_case_item_created_on = df_case_items_reduced[['lab_name', 'case_item_id', 'case_item_created_on']].dropna()
df_case_item_created_on['case_item_created_on'] = df_case_item_created_on['case_item_created_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_case_item_created_on.head()

In [ ]:
df_case_item_created_on['case_item_created_on'] = pd.to_datetime(df_case_item_created_on['case_item_created_on']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_case_item_created_on['case_item_year_created_on'] = pd.to_datetime(df_case_item_created_on['case_item_created_on']).apply(lambda x: x.strftime('%Y'))
df_case_item_created_on.head()

In [ ]:
df_case_items_reduced.drop('case_item_created_on', axis=1, inplace=True)
df_case_items_reduced = pd.merge(df_case_items_reduced, df_case_item_created_on, how='left', on=['lab_name', 'case_item_id'])
df_case_items_reduced.head()

In [ ]:
# Remove irrelevant years
df_case_items_reduced.case_item_year_created_on.unique()

In [ ]:
df_case_items_reduced.case_item_year_created_on.value_counts()

In [ ]:
df_case_items_reduced = df_case_items_reduced[df_case_items_reduced.case_item_year_created_on != '2010']
df_case_items_reduced.case_item_year_created_on.unique()

In [ ]:
df_case_items_reduced.info()

In [ ]:
# Transform case_item_last_updated to datetime
df_case_item_last_updated = df_case_items_reduced[['lab_name', 'case_item_id', 'case_item_last_updated']].dropna()
df_case_item_last_updated['case_item_last_updated'] = df_case_item_last_updated['case_item_last_updated'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_case_item_last_updated.head()

In [ ]:
df_case_item_last_updated['case_item_last_updated'] = pd.to_datetime(df_case_item_last_updated['case_item_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_case_item_last_updated['case_item_year_last_updated'] = pd.to_datetime(df_case_item_last_updated['case_item_last_updated']).apply(lambda x: x.strftime('%Y'))
df_case_item_last_updated.head()

In [ ]:
df_case_items_reduced.drop('case_item_last_updated', axis=1, inplace=True)
df_case_items_reduced = pd.merge(df_case_items_reduced, df_case_item_last_updated, how='left', on=['lab_name', 'case_item_id'])
df_case_items_reduced.head()

In [ ]:
# Remove irrelevant years
df_case_items_reduced.case_item_year_last_updated.unique()

In [ ]:
df_case_items_reduced.case_item_year_last_updated.value_counts()

In [ ]:
df_case_items_reduced.info()

In [ ]:
df_case_items_reduced.isnull().sum()

### Splitting items in 'other_settings' field

In [ ]:
df_other_settings = df_case_items_reduced[['lab_name', 'case_item_id', 'other_settings']].dropna()
df_other_settings.info()

In [ ]:
df_other_settings.head()

In [ ]:
df_other_settings_exp = df_other_settings['other_settings'].str.split(',', expand = True)
df_other_settings_exp['case_item_nb_other_settings'] = df_other_settings_exp.count(axis=1).apply(lambda x: str(x))
df_other_settings_exp.head()

In [ ]:
df_other_settings['case_item_nb_other_settings'] = df_other_settings_exp['case_item_nb_other_settings']
df_other_settings_exp.drop('case_item_nb_other_settings', axis=1, inplace=True)
df_other_settings.drop('other_settings', axis=1, inplace=True)
df_other_settings.head()

In [ ]:
df_case_items_reduced.drop('other_settings', axis=1, inplace=True)
df_case_items_reduced = pd.merge(df_case_items_reduced, df_other_settings, how='left', on=['lab_name', 'case_item_id'])
df_case_items_reduced['case_item_nb_other_settings'] = df_case_items_reduced['case_item_nb_other_settings'] #.apply(lambda x : int(x) if type(x) == str else '')
df_case_items_reduced.head()

In [ ]:
df_case_items_reduced.info()

### Save prepped table 'case_items' to csv

In [ ]:
df_case_items_reduced.to_csv('data/case_items_clean2.csv', index=False, header=True)

# Preparing table 'product_type_others'

In [ ]:
df_product_type_others = pd.read_csv("data/product_type_others_clean1.csv")
df_product_type_others.head()

In [ ]:
df_product_type_others.info()

In [ ]:
# Extract columns needed for analysis
df_product_type_others_reduced = df_product_type_others[['labName', 'id', 'name', 'content']]

# Rename some columns
df_product_type_others_reduced = df_product_type_others_reduced.rename(columns={'labName': 'lab_name',
                                                                                'id': 'prod_type_oth_id',
                                                                                'name': 'prod_type_oth_name'})
df_product_type_others_reduced.info()

In [ ]:
df_product_type_others_reduced.head()

In [ ]:
df_product_type_others_reduced['prod_type_oth_id'] = df_product_type_others_reduced['prod_type_oth_id'].astype(str)
df_product_type_others_reduced.info()

In [ ]:
df_other_settings_exp.columns = df_other_settings_exp.columns.astype(str)
df_other_settings_exp.columns

In [ ]:
df_product_type_others_concat = pd.concat([df_other_settings, df_other_settings_exp], axis=1)
df_product_type_others_concat.head()

In [ ]:
# Assemble 'product_type_others' table
df2 = pd.DataFrame()
for i in range(23):
    df_left = df_product_type_others_concat[['lab_name', 'case_item_id', f'{i}']].dropna()
    df_temp = pd.merge(df_left, df_product_type_others_reduced, how='left',
                left_on=['lab_name', f'{i}'], right_on=['lab_name', 'prod_type_oth_name'])
    df_temp.drop_duplicates(keep='first', inplace=False)
    df_temp.drop(f'{i}', axis=1, inplace=True)
    df2 = df2.append(df_temp, ignore_index=True)
df2.head()

In [ ]:
df2.dropna()
df2.info()

In [ ]:
# Save to csv
df2.to_csv('data/product_type_others_clean2.csv', index=False, header=True)

# Preparing table 'tooth_type'

In [ ]:
df_tooth_type = pd.read_csv("data/tooth_type_clean1.csv")
df_tooth_type.drop('Unnamed: 0', axis=1, inplace=True)
df_tooth_type.head(20)

In [ ]:
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'ImplantSplint' if row['oid']==80 else row['label'], axis=1)
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'Appliance' if row['oid']==90 else row['label'], axis=1)
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'Additional' if row['oid']==110 else row['label'], axis=1)
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'UserDefined1' if row['oid']==210 else row['label'], axis=1)
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'UserDefined2' if row['oid']==220 else row['label'], axis=1)
df_tooth_type['label'] = df_tooth_type.apply(lambda row: 'UserDefined1' if row['oid']==230 else row['label'], axis=1)

In [ ]:
df_tooth_type.head(20)

In [ ]:
# Extract columns needed for analysis
df_tooth_type_reduced = df_tooth_type[['labName', 'oid', 'label']]

# Rename some columns
df_tooth_type_reduced = df_tooth_type_reduced.rename(columns={'labName': 'lab_name',
                                                             'oid': 'tooth_type_oid', 'label': 'tooth_type_label'})
df_tooth_type_reduced.head()

In [ ]:
df_tooth_type_reduced.info()

In [ ]:
# Save to csv
df_tooth_type_reduced.to_csv('data/tooth_type_clean2.csv', index=False, header=True)

# Preparing table 'products'

In [ ]:
df_products = pd.read_csv("data/products_clean1.csv")
df_products.drop('Unnamed: 0', axis=1, inplace=True)
df_products.head()

In [ ]:
df_products.info()

In [ ]:
# Extract columns needed for analysis
df_products_reduced = df_products[['labName', 'id', 'name', 'type_id']]

# Rename some columns
df_products_reduced = df_products_reduced.rename(columns={'labName': 'lab_name', 'id': 'product_id',
                                               'type_id': 'product_type_id', 'name': 'product_name'})
df_products_reduced.head()

In [ ]:
df_products_reduced['product_name'] = df_products_reduced['product_name'].str.lower()
df_products_reduced.head(10)

In [ ]:
df_products_reduced.info()

In [ ]:
# Save to csv
df_products_reduced.to_csv('data/products_clean2.csv', index=False, header=True)

# Preparing table 'product_types'

In [ ]:
df_product_types = pd.read_csv("data/product_types_clean1.csv")
df_product_types.head()

In [ ]:
df_product_types.info()

In [ ]:
# Extract columns needed for analysis
df_product_types_reduced = df_product_types[['labName', 'id', 'name']]

# Rename some columns
df_product_types_reduced = df_product_types_reduced.rename(columns={'labName': 'lab_name', 'id': 'product_type_id',
                                                                   'name': 'product_type_name'})
df_product_types_reduced.head()

In [ ]:
df_product_types_reduced['product_type_name'] = df_product_types_reduced['product_type_name'].str.lower()
df_product_types_reduced.head(10)

In [ ]:
df_product_types_reduced.info()

In [ ]:
# Save to csv
df_product_types_reduced.to_csv('data/product_types_clean2.csv', index=False, header=True)

# Preparing table 'users'

In [ ]:
df_users = pd.read_csv("data/users_clean1.csv")
df_users.head()

In [ ]:
df_users.info()

In [ ]:
# Extract columns needed for analysis
df_users_reduced = df_users[['labName', 'uid', 'ref_id', 'ref_type', 'first_name', 'last_name']]

# Rename some columns
df_users_reduced = df_users_reduced.rename(columns={'labName': 'lab_name', 'uid': 'user_id'})
df_users_reduced.head()

In [ ]:
df_users_reduced.info()

# Transform 'ref_id' to int
df_ref_id = df_users_reduced[['lab_name', 'user_id', 'ref_id']].dropna()
df_ref_id['ref_id'] = df_ref_id.ref_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_users_reduced.drop('ref_id', axis=1, inplace=True)
df_users_reduced = pd.merge(df_users_reduced, df_ref_id, how='left', on=['lab_name', 'user_id'])
df_users_reduced['ref_id'] = df_users_reduced['ref_id'].apply(lambda x : int(x) if type(x) == str else '')
df_users_reduced.head()

# Transform 'ref_type' to int
df_ref_type = df_users_reduced[['lab_name', 'user_id', 'ref_type']].dropna()
df_ref_type['ref_type'] = df_ref_type.ref_type.apply(lambda x: int(x)).apply(lambda x: str(x))
df_users_reduced.drop('ref_type', axis=1, inplace=True)
df_users_reduced = pd.merge(df_users_reduced, df_ref_type, how='left', on=['lab_name', 'user_id'])
df_users_reduced['ref_type'] = df_users_reduced['ref_type'].apply(lambda x : int(x) if type(x) == str else '')
df_users_reduced.head()

In [ ]:
# Save to csv
df_users_reduced.to_csv('data/users_clean2.csv', index=False, header=True)

# Preparing table 'countries'

In [ ]:
df_countries = pd.read_csv("data/countries_clean1.csv")
df_countries.head()

In [ ]:
# Extract columns needed for analysis
df_countries_reduced = df_countries[['id', 'name', 'code']]

# Rename some columns
df_countries_reduced = df_countries_reduced.rename(columns={'id': 'country_id', 'name': 'country_name', 'code': 'country_code'})
df_countries_reduced.head()

In [ ]:
df_countries_reduced.info()

In [ ]:
# Save to csv
df_countries_reduced.to_csv('data/countries_clean2.csv', index=False, header=True)

# Preparing table 'addresses'

In [ ]:
df_addresses = pd.read_csv("data/addresses_clean1.csv")
df_addresses.head()

In [ ]:
df_addresses.info()

In [ ]:
# Extract columns needed for analysis
df_addresses_reduced = df_addresses[['labName', 'address_id', 'city', 'state', 'zip', 'country']]

# Rename some columns
df_addresses_reduced = df_addresses_reduced.rename(columns={'labName': 'lab_name', 'country': 'country_id'})
df_addresses_reduced.head()

In [ ]:
df_addresses_reduced.info()

# Transform 'country_id' to int
df_country_id = df_addresses_reduced[['lab_name', 'address_id', 'country_id']].dropna()
df_country_id['country_id'] = df_country_id.country_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_addresses_reduced.drop('country_id', axis=1, inplace=True)
df_addresses_reduced = pd.merge(df_addresses_reduced, df_country_id, how='left', on=['lab_name', 'address_id'])
df_addresses_reduced['country_id'] = df_addresses_reduced['country_id'].apply(lambda x : int(x) if type(x) == str else '')
df_addresses_reduced.head()

In [ ]:
# Save to csv
df_addresses_reduced.to_csv('data/addresses_clean2.csv', index=False, header=True)

# Preparing table 'clients'

In [ ]:
df_clients = pd.read_csv("data/clients_clean1.csv")
df_clients.head()

In [ ]:
df_clients.info()

In [ ]:
# Extract columns needed for analysis
df_clients_reduced = df_clients[['labName', 'id', 'bClientLab', 'name', 'billing_address_id', 'shipping_address_id',
                                'master_pricebook_id', 'custom_pricebook_id']]

# Rename some columns
df_clients_reduced = df_clients_reduced.rename(columns={'labName': 'lab_name', 'id': 'client_id', 'name': 'client_name'})
df_clients_reduced.head()

In [ ]:
df_clients_reduced.info()

# Transform 'billing_address_id' to int
df_billing_id = df_clients_reduced[['lab_name', 'client_id', 'billing_address_id']].dropna()
df_billing_id['billing_address_id'] = df_billing_id.billing_address_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_clients_reduced.drop('billing_address_id', axis=1, inplace=True)
df_clients_reduced = pd.merge(df_clients_reduced, df_billing_id, how='left', on=['lab_name', 'client_id'])
df_clients_reduced['billing_address_id'] = df_clients_reduced['billing_address_id'].apply(lambda x : int(x) if type(x) == str else '')
df_clients_reduced.head()

# Transform 'master_pricebook_id' to int
df_master_id = df_clients_reduced[['lab_name', 'client_id', 'master_pricebook_id']].dropna()
df_master_id['master_pricebook_id'] = df_master_id.master_pricebook_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_clients_reduced.drop('master_pricebook_id', axis=1, inplace=True)
df_clients_reduced = pd.merge(df_clients_reduced, df_master_id, how='left', on=['lab_name', 'client_id'])
df_clients_reduced['master_pricebook_id'] = df_clients_reduced['master_pricebook_id'].apply(lambda x : int(x) if type(x) == str else '')
df_clients_reduced.head()

# Transform 'custom_pricebook_id' to int
df_custom_id = df_clients_reduced[['lab_name', 'client_id', 'custom_pricebook_id']].dropna()
df_custom_id['custom_pricebook_id'] = df_custom_id.custom_pricebook_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_clients_reduced.drop('custom_pricebook_id', axis=1, inplace=True)
df_clients_reduced = pd.merge(df_clients_reduced, df_custom_id, how='left', on=['lab_name', 'client_id'])
df_clients_reduced['custom_pricebook_id'] = df_clients_reduced['custom_pricebook_id'].apply(lambda x : int(x) if type(x) == str else '')
df_clients_reduced.head()

In [ ]:
df_clients_reduced.drop_duplicates(keep='first', inplace=True)
df_clients_reduced.info()

In [ ]:
# Save to csv
df_clients_reduced.to_csv('data/clients_clean2.csv',index=False, header=True)

# Prepare table 'pricebooks'

In [ ]:
df_pricebooks = pd.read_csv("data/pricebooks_clean1.csv")
df_pricebooks.head()

In [ ]:
df_pricebooks.info()

In [ ]:
# Extract columns needed for analysis
df_pricebooks_reduced = df_pricebooks[['labName', 'id', 'name', 'client_id', 'lastupdated']]

# Rename some columns
df_pricebooks_reduced = df_pricebooks_reduced.rename(columns={'labName': 'lab_name', 'id': 'pricebook_id',
                                                              'name': 'pricebook_name', 'lastupdated': 'pricebook_last_updated'})
df_pricebooks_reduced.head()

In [ ]:
df_pricebooks_reduced.info()

# Transform 'client_id' to int
df_client_id = df_pricebooks_reduced[['lab_name', 'pricebook_id', 'client_id']].dropna()
df_client_id['client_id'] = df_client_id.client_id.apply(lambda x: int(x)).apply(lambda x: str(x))
df_pricebooks_reduced.drop('client_id', axis=1, inplace=True)
df_pricebooks_reduced = pd.merge(df_pricebooks_reduced, df_client_id, how='left', on=['lab_name', 'pricebook_id'])
df_pricebooks_reduced['client_id'] = df_pricebooks_reduced['client_id'].apply(lambda x : int(x) if type(x) == str else '')
df_pricebooks_reduced.head()

In [ ]:
# Transform 'pricebook_last_updated' to datetime
df_pricebooks_reduced['pricebook_last_updated'] = df_pricebooks_reduced['pricebook_last_updated'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_pricebooks_reduced.info()

In [ ]:
df_pricebooks_reduced['pricebook_last_updated'] = pd.to_datetime(df_pricebooks_reduced['pricebook_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_pricebooks_reduced.head()

In [ ]:
# Save to csv
df_pricebooks_reduced.to_csv('data/pricebooks_clean2.csv', index=False, header=True)

# Prepare table 'pricebook_items'

In [ ]:
df_pricebook_items = pd.read_csv("data/pricebook_items_clean1.csv")
df_pricebook_items.head()

In [ ]:
df_pricebook_items.info()

In [ ]:
df_pricebook_items.isnull().sum()

In [ ]:
# Extract columns needed for analysis
df_pricebook_items_reduced = df_pricebook_items[['labName', 'id', 'pricebook_id', 'ref_type', 'product_id', 'price']]

# Rename some columns
df_pricebook_items_reduced = df_pricebook_items_reduced.rename(columns={'labName': 'lab_name',
                                                                        'id': 'pricebook_item_id'})
df_pricebook_items_reduced.head()

In [ ]:
df_pricebook_items_reduced.info()

In [ ]:
# Save to csv
df_pricebook_items_reduced.to_csv('data/pricebook_items_clean2.csv', index=False, header=True)

# Prepare table 'billings'

In [ ]:
df_billings = pd.read_csv("data/billings_clean1.csv")
df_billings.head()

In [ ]:
df_billings.info()

In [ ]:
df_billings.isnull().sum()

In [ ]:
# Extract columns needed for analysis
df_billings_reduced = df_billings[['labName', 'id', 'ref', 'ref_id', 'ref_type', 'payment', 'amount', 'status',
                                  'first_case_id', 'calculation', 'createdOn', 'dueOn', 'settledOn',
                                  'lastupdated']]

# Rename some columns
df_billings_reduced = df_billings_reduced.rename(columns={'labName': 'lab_name', 'id': 'billing_id',
                                                         'first_case_id': 'case_id', 'amount': 'billing_amount',
                                                          'payment': 'billing_payment', 'status': 'billing_status',
                                                         'createdOn': 'billing_created_on',
                                                          'settledOn': 'billing_settled_on',
                                                         'calculation': 'billing_calculation',
                                                          'first_case_id': 'case_id', 'dueOn': 'billing_due_on',
                                                         'lastupdated': 'billing_last_updated'})
df_billings_reduced.head()

In [ ]:
df_billings_reduced.info()

In [ ]:
df_billings_reduced.isnull().sum()

In [ ]:
# Transform 'billing_created_on' and 'billing_last_updated' to datetime
df_billings_reduced['billing_created_on'] = df_billings_reduced['billing_created_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_billings_reduced['billing_last_updated'] = df_billings_reduced['billing_last_updated'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_billings_reduced.info()

In [ ]:
# Calculate elapsed time between billing created and last_updated as a proxy for collection time 
df_billings_reduced['billing_tdelta'] = (df_billings_reduced.billing_last_updated - df_billings_reduced.billing_created_on)
df_billings_reduced['billing_tdelta_hours'] = (df_billings_reduced.billing_last_updated - df_billings_reduced.billing_created_on).astype('timedelta64[h]')
df_billings_reduced['billing_tdelta_hours'] = df_billings_reduced['billing_tdelta_hours'].apply(lambda x: int(x)).apply(lambda x: str(x))
df_billings_reduced.head()

In [ ]:
# Change datetime format
df_billings_reduced['billing_created_on'] = pd.to_datetime(df_billings_reduced['billing_created_on']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_billings_reduced['billing_last_updated'] = pd.to_datetime(df_billings_reduced['billing_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_billings_reduced.head()

In [ ]:
df_billings_reduced.info()

In [ ]:
df_billings_reduced.isnull().sum()

In [ ]:
# Save to csv
df_billings_reduced.to_csv('data/billings_clean2.csv', index=False, header=True)

In [ ]:
df_billings_reduced.dropna(subset=['case_id'], inplace=True)
df_billings_reduced.isnull().sum()

In [ ]:
df_billings_reduced['case_id'] = df_billings_reduced['case_id'].astype(np.int64)
df_billings_reduced.info()

In [ ]:
# Save to csv
df_billings_reduced.to_csv('data/billings_clean3.csv', index=False, header=True)

# Prepare 'billing_items' table

In [ ]:
df_billing_items = pd.read_csv("data/billing_items_clean1.csv")
df_billing_items.head()

In [ ]:
df_billing_items.info()

In [ ]:
df_billing_items.isnull().sum()

In [ ]:
# Extract columns needed for analysis
df_billing_items_reduced = df_billing_items[['labName', 'id', 'billing_id', 'case_id', 'case_item_id', 'ref_id',
                                            'pricebook_id', 'amount', 'payment', 'status', 'createdOn',
                                             'lastupdated', 'bActive', 'remake_id']]

# Rename some columns
df_billing_items_reduced = df_billing_items_reduced.rename(columns={'labName': 'lab_name', 'id': 'billing_item_id',
                                                                   'amount': 'billing_item_amount',
                                                                    'payment': 'billing_item_payment',
                                                                   'status': 'billing_item_status',
                                                                   'createdOn': 'billing_item_created_on',
                                                                   'lastupdated': 'billing_item_last_updated'})
df_billing_items_reduced.head()

In [ ]:
df_billing_items_reduced.info()

In [ ]:
df_billing_items_reduced.isnull().sum()

In [ ]:
# Transform 'billing_item_created_on' and 'billing_item_last_updated' to datetime
df_billing_items_reduced['billing_item_created_on'] = df_billing_items_reduced['billing_item_created_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_billing_items_reduced['billing_item_last_updated'] = df_billing_items_reduced['billing_item_last_updated'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_billing_items_reduced.info()

In [ ]:
# Calculate elapsed time between billing created and last_updated as a proxy for collection time 
df_billing_items_reduced['billing_item_tdelta'] = (df_billing_items_reduced.billing_item_last_updated - df_billing_items_reduced.billing_item_created_on)
df_billing_items_reduced['billing_item_tdelta_hours'] = (df_billing_items_reduced.billing_item_last_updated - df_billing_items_reduced.billing_item_created_on).astype('timedelta64[h]')
df_billing_items_reduced['billing_item_tdelta_hours'] = df_billing_items_reduced['billing_item_tdelta_hours'].apply(lambda x: int(x)).apply(lambda x: str(x))
df_billing_items_reduced.head()

In [ ]:
# Change datetime format
df_billing_items_reduced['billing_item_created_on'] = pd.to_datetime(df_billing_items_reduced['billing_item_created_on']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_billing_items_reduced['billing_item_last_updated'] = pd.to_datetime(df_billing_items_reduced['billing_item_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_billing_items_reduced.head()

In [ ]:
# Save to csv
df_billing_items_reduced.to_csv('data/billing_items_clean2.csv', index=False, header=True)

# Prepare 'charging_items' table

In [ ]:
df_charging_items = pd.read_csv("data/charging_items_clean1.csv")
df_charging_items.head()

In [ ]:
df_charging_items.info()

In [ ]:
df_charging_items.isnull().sum()

In [ ]:
# Drop some columns
df_charging_items.drop('Unnamed: 0', axis=1, inplace=True)
df_charging_items.drop('remarks', axis=1, inplace=True)
df_charging_items.drop('updatedby', axis=1, inplace=True)
df_charging_items.drop('bLava', axis=1, inplace=True)
df_charging_items.drop('additional_type', axis=1, inplace=True)
df_charging_items.drop('remake_id', axis=1, inplace=True)
df_charging_items.drop('additional_id', axis=1, inplace=True)
df_charging_items.drop('discount_amt', axis=1, inplace=True)
df_charging_items.drop('priority', axis=1, inplace=True)
df_charging_items.drop('tax_1', axis=1, inplace=True)
df_charging_items.drop('tax_2', axis=1, inplace=True)
df_charging_items.drop('enable_tax_1', axis=1, inplace=True)
df_charging_items.drop('enable_tax_2', axis=1, inplace=True)
df_charging_items.drop('enable_discount', axis=1, inplace=True)

In [ ]:
df_charging_items.isnull().sum()

In [ ]:
# Rename some columns
df_charging_items = df_charging_items.rename(columns={'labName': 'lab_name', 'id': 'charging_item_id',
                                                      'ref_type': 'charging_item_ref_type',
                                                     'charge_ty': 'charging_item_charge_ty',
                                                      'tooth_num': 'charging_item_tooth_num',
                                                     'unit_price': 'charging_item_unit_price',
                                                     'quantity': 'charging_item_quantity',
                                                     'discount': 'charging_item_discount',
                                                     'adjustment': 'charging_item_adjustment',
                                                     'payment': 'charging_item_payment',
                                                     'status': 'charging_item_status',
                                                     'createdOn': 'charging_item_created_on',
                                                     'lastupdated': 'charging_item_last_updated'})
df_charging_items.head()

In [ ]:
df_charging_items.info()

In [ ]:
# Transform 'charging_item_created_on' and 'charging_item_last_updated' to datetime
df_charging_items['charging_item_created_on'] = df_charging_items['charging_item_created_on'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_charging_items['charging_item_last_updated'] = df_charging_items['charging_item_last_updated'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
df_charging_items.info()

In [ ]:
# Calculate elapsed time between charging_item created and last_updated as a proxy for collection time 
df_charging_items['charging_item_tdelta'] = (df_charging_items.charging_item_last_updated - df_charging_items.charging_item_created_on)
df_charging_items['charging_item_tdelta_hours'] = (df_charging_items.charging_item_last_updated - df_charging_items.charging_item_created_on).astype('timedelta64[h]')
df_charging_items['charging_item_tdelta_hours'] = df_charging_items['charging_item_tdelta_hours'].apply(lambda x: int(x)).apply(lambda x: str(x))
df_charging_items.head()

In [ ]:
# Change datetime format
df_charging_items['charging_item_created_on'] = pd.to_datetime(df_charging_items['charging_item_created_on']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_charging_items['charging_item_last_updated'] = pd.to_datetime(df_charging_items['charging_item_last_updated']).apply(lambda x: x.strftime('%Y-%m-%d'))
df_charging_items.head()

In [ ]:
df_charging_items.info()

In [ ]:
df_charging_items.charging_item_tdelta_hours.value_counts()

In [ ]:
# Save to csv
df_charging_items.to_csv('data/charging_items_clean2.csv', index=False, header=True)